/* Chrome, Safari, Opera */
@-webkit-keyframes btn_down {
    0%   {transform: translateY(-10px);}
    50%   {transform: translateY(0px);}
    100% {transform: translateY(-10px);}
}

/* Standard syntax */
@keyframes btn_down {
    0%   {transform: translateY(-10px);}
    50%   {transform: translateY(0px);}
    100% {transform: translateY(-10px);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes location {
    0%   {transform: translateY(-5px);}
    50%   {transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}

/* Standard syntax */
@keyframes location {
    0%   {transform: translateY(-5px);}
    50%   {transform: translateY(0px);}
    100% {transform: translateY(-5px);}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes heart {
    0%   {top: 40px;opacity: 1}
    100% {top: -10px;opacity: 0}
}

/* Standard syntax */
@keyframes heart {
    0%   {top: 40px;opacity: 1}
    100% {top: -10px;opacity: 0}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes demo {
    0%   {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

/* Standard syntax */
@keyframes demo {
    0%   {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes children_horse_01 {
    0%   {transform: translateY(0);}
    50%   {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

/* Standard syntax */
@keyframes children_horse_01 {
    0%   {transform: translateY(0);}
    50%   {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes children_horse_02 {
    0%   {transform: translateY(0);}
    50%   {transform: translateY(20px);}
    100% {transform: translateY(0);}
}

/* Standard syntax */
@keyframes children_horse_02 {
    0%   {transform: translateY(0);}
    50%   {transform: translateY(20px);}
    100% {transform: translateY(0);}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes children_horse_03 {
    0%   {transform: translateY(0);}
    50%   {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

/* Standard syntax */
@keyframes children_horse_03 {
    0%   {transform: translateY(0);}
    50%   {transform: translateY(10px);}
    100% {transform: translateY(0);}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes air_balloon {
    0%   {transform: translateX(-2); top: 600px;}
    2%   {transform: translateX(2);}
    4%   {transform: translateX(-2);}
    6%   {transform: translateX(2);}
    8%   {transform: translateX(-2);}
    10%   {transform: translateX(2);}
    12%   {transform: translateX(-2);}
    14%   {transform: translateX(2);}
    16%   {transform: translateX(-2);}
    18%   {transform: translateX(2);}
    20%   {transform: translateX(-2);}
    22%   {transform: translateX(2);}
    24%   {transform: translateX(-2);}
    26%   {transform: translateX(2);}
    28%   {transform: translateX(-2);}
    30%   {transform: translateX(2);}
    32%   {transform: translateX(-2);}
    34%   {transform: translateX(2);}
    36%   {transform: translateX(-2);}
    38%   {transform: translateX(2);}
    40%   {transform: translateX(-2);}
    42%   {transform: translateX(2);}
    44%   {transform: translateX(-2);}
    46%   {transform: translateX(2);}
    48%   {transform: translateX(-2);}
    50%   {transform: translateX(2);}
    52%   {transform: translateX(-2);}
    54%   {transform: translateX(2);}
    56%   {transform: translateX(-2);}
    58%   {transform: translateX(2);}
    60%   {transform: translateX(-2);}
    62%   {transform: translateX(2);}
    64%   {transform: translateX(-2);}
    66%   {transform: translateX(2);}
    68%   {transform: translateX(-2);}
    70%   {transform: translateX(2);}
    72%   {transform: translateX(-2);}
    74%   {transform: translateX(2);}
    76%   {transform: translateX(-2);}
    78%   {transform: translateX(2);}
    80%   {transform: translateX(-2);}
    82%   {transform: translateX(2);}
    84%   {transform: translateX(-2);}
    86%   {transform: translateX(2);}
    88%   {transform: translateX(-2);}
    90%   {transform: translateX(2);}
    92%   {transform: translateX(-2);}
    94%   {transform: translateX(2);}
    96%   {transform: translateX(-2);}
    98%   {transform: translateX(2);}
    100% {transform: translateX(-2); top: -150px;}
}

/* Standard syntax */
@keyframes air_balloon {
    0%   {transform: translateX(-2px); top: 600px;}
    2%   {transform: translateX(2px);}
    4%   {transform: translateX(-2px);}
    6%   {transform: translateX(2px);}
    8%   {transform: translateX(-2px);}
    10%   {transform: translateX(2px);}
    12%   {transform: translateX(-2px);}
    14%   {transform: translateX(2px);}
    16%   {transform: translateX(-2px);}
    18%   {transform: translateX(2px);}
    20%   {transform: translateX(-2px);}
    22%   {transform: translateX(2px);}
    24%   {transform: translateX(-2px);}
    26%   {transform: translateX(2px);}
    28%   {transform: translateX(-2px);}
    30%   {transform: translateX(2px);}
    32%   {transform: translateX(-2px);}
    34%   {transform: translateX(2px);}
    36%   {transform: translateX(-2px);}
    38%   {transform: translateX(2px);}
    40%   {transform: translateX(-2px);}
    42%   {transform: translateX(2px);}
    44%   {transform: translateX(-2px);}
    46%   {transform: translateX(2px);}
    48%   {transform: translateX(-2px);}
    50%   {transform: translateX(2px);}
    52%   {transform: translateX(-2px);}
    54%   {transform: translateX(2px);}
    56%   {transform: translateX(-2px);}
    58%   {transform: translateX(2px);}
    60%   {transform: translateX(-2px);}
    62%   {transform: translateX(2px);}
    64%   {transform: translateX(-2px);}
    66%   {transform: translateX(2px);}
    68%   {transform: translateX(-2px);}
    70%   {transform: translateX(2px);}
    72%   {transform: translateX(-2px);}
    74%   {transform: translateX(2px);}
    76%   {transform: translateX(-2px);}
    78%   {transform: translateX(2px);}
    80%   {transform: translateX(-2px);}
    82%   {transform: translateX(2px);}
    84%   {transform: translateX(-2px);}
    86%   {transform: translateX(2px);}
    88%   {transform: translateX(-2px);}
    90%   {transform: translateX(2px);}
    92%   {transform: translateX(-2px);}
    94%   {transform: translateX(2px);}
    96%   {transform: translateX(-2px);}
    98%   {transform: translateX(2px);}
    100% {transform: translateX(-2px); top: -150px;}
}