.title{
	margin-top: 50px;
	margin-bottom: 50px; 
	font-size: 65px;
}
.cv {
	margin: 50px;
}
.cv h5{
	color: #fff; 
	text-align: center;
	font-size: 26px;
	margin-bottom: 0px;
	margin-top: 30px;
}
.cv ul{
	list-style: none;
	text-align: center;
	padding-left: 0px;
}
.cv ul li{
	width: 100px; 
	height: 1px;
	background-color: #fa7ba0;
	display: inline-block;
	margin-right: 10px;
}
.cv ul .icon{
	width: 16px;
	height: auto;
	background-color: transparent;
	position: relative;
	top: 10px;
}