body{
	margin: 0px;
	font-family: 'Raleway', sans-serif;
}
button{
	outline: 0;
}
.header{
	background-color: #99101c;
	color: #fff;
	text-align: center;
	padding: 30px 0px;
}
.title{
	font-family: 'Fredoka One', cursive;
	font-size: 65px;
	margin: 0px;
}
.title .text{
	display: inline-block;
	margin: 0px 20px;
}
.title .line{
	width: 20px;
	height: 10px;
	background-color: #fff;
	display: inline-block;
	border-radius: 10px;
	position: relative;
	top: -10px;
}
.sub-title{
	font-size: 14px;
	color: #f8b5bb;
	font-weight: 300;
	margin-bottom: 10px;
}
.store{
	background-color: #fff;
	position: relative;
}
.bg-roof{
	width: 100%;
	height: 126px;
	background-image: url('../img/cake-bg.png');
	background-size: 133px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.store-left{
	width: 65%;
	border-left: 15px solid #99101c;
	border-right: 15px solid #99101c;
	border-bottom: 30px solid #99101c;
	float: left;
}
.store-element{
	padding-top: 83px;
	border-bottom: 15px solid #99101c;
	position: relative;
}
.store-element button{
	width: 35px;
	height: 70px;
	background-image: url('../img/cake-bg-button.png');
	background-size: 100% 100%;
	background-color: transparent;
	/* border-radius: 50%; */
	border: none;
	position: absolute;
}
.store-element button i{
	color: #fff;
	font-size: 40px;
}
.store-element .btn-left{
	/* left: -20px; */
}
.store-element .btn-left i{
	margin-left: -10px;
}
.store-element .btn-right{
	right: 0px;
	background-image: url('../img/cake-bg-button-right.png');
}
.store-element .btn-right i{
	margin-right: -10px;
}
.store-first{
	padding-top: 200px;
}
.store-content{
	width: 710px;
}
.cake{
	position: relative;
	float: left;
	margin-right: 65px;
	height: 160px;
	width: 120px;
}
.cake:last-child{
	margin-right: 0px;
}
.cake img{
	width: 120px;
	position: absolute;
	bottom: -4px;
}
.cake .price{
	background-image: url('../img/cake-price.png');
	width: 60px;
	height: 72px;
	background-size: 100% 100%;
	position: absolute;
	bottom: -8px;
	left: 28px;
	color: #fff;
}
.cake .price span{
	display: inline-block;
	margin-top: 21px;
	margin-left: 10px;
	font-size: 13px;
}
.cake-large{
	width: 180px;
}
.cake-large img{
	width: 180px;
	position: absolute;
	bottom: -10px;
}
.cake-large .price{
	left: 60px;
	bottom: -12px;
}
.door{
	width: 35%;
	height: 100%;
	float: left;
	background: #F17291;
	padding: 20px;
}
.door-01{
	width: 100%;
	height: 100%;
	background-color: #f43a68;
	padding: 20px;
}
.door-above{
	width: 100%;
	height: 70%;
	background-color: #F17291;
	padding: 20px;
}
.door-under{
	width: 100%;
	height: 26%;
	background-color: #F17291;
	padding: 20px;
	margin-top: 6%;
}
.door-02{
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding: 20px;
	padding-top: 90px;
	position: relative;
}
.door-03{
	width: 100%;
	height: 100%;
	background-color: #f43a68;
	padding: 20px;
}
.circle{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #333;
	margin: auto;
}
.door-02 .open{
	position: relative;
}
.line{
	width: 60px;
	height: 2px;
	background-color: #333;
	position: absolute;

}
.line-01{
	transform: rotate(-40deg);
	margin-top: 15px;
	left: 31%;
}
.line-02{
	transform: rotate(40deg);
	margin-top: 15px;
	right: 31%;
}
.content-open{
	background-color: #F7CD81;
	width: 170px;
	border-radius: 5px;
	padding: 25px 0px 10px;
	margin: 30px auto 0px;
	text-align: center;
}
.content-open h5{
	font-family: 'Pacifico', cursive;
	color: #333;
	font-size: 23px;
	margin-top: 0px;
}
.content-open p{
	font-size: 14px;
	margin-top: 15px;
}

