body{
	font-family: 'UTM Avo', sans-serif !important;
	overflow-x: hidden;
}
input, button{
	border: 0px;
	outline: 0;
}
ul{
	padding-left: 0px;
	list-style: none;
}
.header{
	background-image: url('../img/img-bed/bg-logo.png');
	background-size: 100%;
	padding: 5px 30px 0px !important;
}
@media screen and (max-width: 986px) {
    .header {
        padding: 5px 15px 0px !important;
    }
}
.logo{
	font-family: 'Alpaca Scarlett Demo', sans-serif;
	margin-top: 30px;
	margin-bottom: 20px;
	float: left;
	font-size: 44px;
}
@media screen and (max-width: 586px) {
    .logo{
       	margin-top: 15px;
       	margin-bottom: 5px;
       	float: none;
       	font-size: 40px;
    }
}
.group-search{
	float: right;
}
@media screen and (max-width: 586px) {
    .group-search{
       	float: left;
    }
}
.group-search h6{
	display: inline-block;
	margin-left: 25px;
	font-size: 11px;
	color: #f85204;
}
@media screen and (max-width: 586px) {
    .group-search h6{
       	margin-left: 0px;
       	margin-right: 25px;
       	margin-top: 0px;
       	font-size: 12px;
    }
    .group-search .info h6:last-child{
    	margin-right: 0px;
    }
}
.group-search h6 span{
	margin-right: 5px;
	font-family: 'UTM AvoBold', sans-serif !important;
}
.search{
	text-align: right;
	margin: 10px 0px;
}
.search-under{
	display: none;
	margin: 0px;
}
.search-under input{
	background-color: #fff !important;
}
.search-under button{
	background-color: #fff !important;
	color: #F55320 !important;
}
@media screen and (max-width: 586px) {
    .search{
        display: none;
    }
    .search-under{
    	display: block;
    	overflow: hidden;
    	position: relative;
    	top: 18px;
    }
    .search-under input{
    	width: 100%;
    	border-radius: 25px;
    }
    .search-under button{
    	position: absolute !important;
    	top: 0 !important;
    	left: 100% !important;
    	margin-left: -53px;
    }
}
@media screen and (max-width: 500px) {
    .search-under{
    	float: none;
    	text-align: left;
    	top: 0px;
    	margin: 18px 0px;
    }
}
.search input, .search button{
	background: #F55320;
	color: #fff;
}
.search input{
	padding: 5px 20px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.search button{
	background: #F55320;
	padding: 8px 20px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	position: relative;
	top: -1px;
	left: -4px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f9bfa4;
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #f9bfa4;
  font-size: 12px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #f9bfa4;
  font-size: 12px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #f9bfa4;
  font-size: 12px;
}
.menu{
	clear: both;
	margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .menu {
        width: 200px;
        position: fixed;
        top: 83px;
        left: 0;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.8s;
    }
}
.menu-active{
	transform: translateX(0%);
}
.menu li{
	float: left;
	padding: 10px 25px;
	color: #fff;
	cursor: pointer;
}
@media screen and (max-width: 768px) {
    .menu li{
        float: none;
    }
}
.menu li:nth-child(1){
	background: #F55320;
}
.menu li:nth-child(2){
	background: #E65B8D;
}
.menu li:nth-child(3){
	background: #39B4B1;
}
.menu li:nth-child(4){
	background: #DB4144;
}
.menu li:nth-child(5){
	background: #2475BB;
}
.menu .active{
	font-family: "UTM AvoBold";
}
.icon-setting{
	display: none;
	position: absolute;
	top: 0;
	right: -45px;
	background-color: #F55320;
	padding: 10px 1px 10px 16px !important;
	cursor: pointer;
	width: 44px;
	height: 40px;
}
.icon-setting i{
	transform: scale(0);
	transition: 0.8s;
	position: absolute;
	top: 13px;
	left: 16px;
}
.icon-active{
	transform: scale(1) !important;
}
@media screen and (max-width: 768px) {
    .icon-setting{
        display: block;
    }
}
.slider{
	position: relative;
}
.left, .right{
	position: absolute;
	background: #F55320;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #fff;
	font-size: 26px;
	top: 45%;
	transform: translateX(-50%);
	z-index: 1;
}
@media screen and (max-width: 586px){
	.left, .right{
		width: 30px;
		height: 30px;
		font-size: 14px;
	}
}
.left{
	left: 50px;
}
@media screen and (max-width: 586px){
	.left{
		left: 30px;
	}
}
.right{
	right: 10px;
}
@media screen and (max-width: 586px){
	.right{
		right: 0px;
	}
}
.slider-content{
	width: 100%;
	height: 500px;
	position: relative;
}
.slider-content img{
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translateX(100%);
}
.slider-content img:first-child{
	transform: translateX(0);
}
@keyframes slider_left_before {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}
@keyframes slider_left_after {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
@keyframes slider_right_before {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
@keyframes slider_right_after {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}
@media screen and (max-width: 986px) {
    .slider-content, .slider-content img {
        height: 360px;
    }
}
@media screen and (max-width: 768px) {
    .slider-content, .slider-content img {
        height: 300px;
    }
}
@media screen and (max-width: 520px){
	.slider-content, .slider-content img {
		height: 240px;
	}
}
@media screen and (max-width: 420px){
	.slider-content, .slider-content img {
		height: 190px;
	}
}
.body-content{
	width: 100%;
	background-image: url('../img/img-bed/line.png');
	background-repeat: repeat-x;
	background-size: 340px;
	padding: 30px !important;
	background-color: #E5E5E5;
}
@media screen and (max-width: 986px) {
    .body-content {
        padding: 20px 15px !important;
        background-size: 260px;
    }
}

.left-content{
	width: 280px;
	float: left;
}
@media screen and (max-width: 986px) {
    .left-content {
        width: 250px;
    }
}
@media screen and (max-width: 768px) {
    .left-content {
        width: 100%;
        float: none;
    }
}
.category{
	border-radius: 5px;
	background-color: #fff;
}
.category:last-child{
	margin-bottom: 50px;
}
@media screen and (max-width: 986px) {
    .category:last-child {
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 768px){
	.category-section{
		width: 200px;
		background-color: transparent;
		cursor: pointer;
	}
}
@media screen and (max-width: 586px){
	.category-section{
		float: left;
		margin-bottom: 15px;
	}
}
@media screen and (max-width: 500px) {
    .category-section{
    	float: none;
    }
}
.category h4{
	color: #fff;
	background: #F55320;
	font-family: 'UTM Gloria', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px 0px 10px;
	margin-top: 50px;
	margin-bottom: 0px;
}
@media screen and (max-width: 986px) {
    .category h4 {
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {
    .category h4 {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px){
	.category-section h4{
		width: 90px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		background-color: #000;
		margin-top: 15px;
		font-size: 20px;
	}
}
.category h4 i {
	font-size: 12px;
	vertical-align: middle;
	margin: 0px 10px;
}
@media screen and (max-width: 768px){
	.category-section h4 i{
		display: none;
	}
}
.list-category{
	padding: 0px 20px !important;
}
@media screen and (max-width: 768px) {
    .list-category {
        padding: 0px 16px !important;
    }
}
@media screen and (max-width: 768px) {
    .category-section .list-category {
        position: absolute;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0px 1px 5px #d7d7d7;
        display: none;
    }
}
.list-category li{
	padding: 18px 20px;
	border-bottom: 1px solid #dfdfdf;
	color: #666;
}
@media screen and (max-width: 986px) {
    .list-category li {
        padding: 18px 8px;
    }
}
@media screen and (max-width: 768px) {
    .list-category li{
        font-size: 11px;
    }
}
.list-category li:last-child{
	border-bottom: 0px solid #dfdfdf;
}
.list-category li i{
	font-size: 12px;
	margin-right: 10px;
}
.list-category .active{
	color: #F55320;
	font-family: "UTM AvoBold";
}
.best-seller{
	padding-bottom: 30px;
}
@media screen and (max-width: 520px){
	.best-seller{
		padding-bottom: 20px;
	}
}
@media screen and (max-width: 586px){
	.best-seller{
		clear: both;
	}
}
@media screen and (max-width: 768px) {
	.best-seller{
		margin-top: 20px;
	}
    .best-seller h4 {
        background-image: url('../img/img-bed/bg-title.png');
		background-size: 100% 100%;
		padding: 7px 70px 8px 20px;
		display: inline-block;
		border-top-left-radius: 5px;
		width: 250px;
		background-color: transparent;
		margin-top: 0px;
		text-align: left;
		font-size: 30px;
    }
    .best-seller h4 i {
    	display: none;
    }
}

@media screen and (max-width: 520px) {
    .best-seller h4 {
        font-size: 24px;
        width: 190px;
        padding: 6px 50px 7px 15px;
    }
}
.product-element{
	padding: 0px 20px;
	margin-top: 40px;
}
@media screen and (max-width: 986px) {
    .product-element {
        padding: 0px;
    }
}
@media screen and (max-width: 768px) {
    .product-element {
        padding: 0px 15px;
        float: left;
        width: 50%;
    }
}
@media screen and (max-width: 520px) {
    .product-element {
        padding: 0px;
        float: left;
        width: 100%;
        margin-top: 25px;
    }
}
.product-element img{
	width: 100%;
	height: 150px;
}
.list-info{
	padding-left: 5px;
}
@media screen and (max-width: 986px) {
    .list-info {
        padding-left: 10px;
        overflow: hidden;
    }
}
.list-info li{
	border-bottom: 0px;
	padding: 0px;
	margin-top: 5px;
	font-size: 12px;
	color: #000;
}
.list-info li:first-child{
	font-family: "UTM AvoBold";
	white-space: nowrap;
}
@media screen and (max-width: 420px) {
    .list-info li:first-child {
        white-space: normal;
    }
}
.list-info li i{
	font-size: 10px;
	margin-right: 5px;
	color: #EB4F1F;
}
.right-content{
	overflow: hidden;
	padding-left: 30px;
}
@media screen and (max-width: 986px) {
    .right-content {
        padding-left: 15px;
    }
}
@media screen and (max-width: 768px) {
    .right-content {
        padding-left: 0px;
    }
}
.list-product-content{
	background-color: #fff;
	border-radius: 5px;
	position: relative;
	padding-bottom: 50px;
	margin-top: 50px;
}
@media screen and (max-width: 986px) {
    .list-product-content {
        margin-top: 30px;
    }
}
@media screen and (max-width: 520px) {
    .list-product-content {
        padding-bottom: 60px;
    }
}
.list-product-content:last-child{
	margin-bottom: 50px;
}
@media screen and (max-width: 768px){
	.list-product-content:last-child{
		margin-bottom: 30px;
	}
}
.list-product-content h4{
	margin-top: 0px;
	background-image: url('../img/img-bed/bg-title.png');
	background-size: 100% 100%;
	color: #fff;
	font-family: 'UTM Gloria', sans-serif;
	font-size: 30px;
	padding: 7px 70px 8px 20px;
	display: inline-block;
	border-top-left-radius: 5px;
	width: 250px;
}
@media screen and (max-width: 520px) {
    .list-product-content h4{
        font-size: 23px;
        width: 190px;
        padding: 6px 50px 7px 15px;
    }
}
.list-product-content button{
	background-color: #ffc928;
	color: #fff;
	padding: 7px 20px;
	border-radius: 3px;
	position: absolute;
	top: 12px;
	right: 12px;
}
@media screen and (max-width: 520px) {
    .list-product-content button{
        font-size: 12px;
        top: 7px;
        right: 7px;
    }
}
@media screen and (max-width: 420px) {
    .list-product-content button{
        font-size: 11px;
        padding: 6px 18px 7px;
        top: 100%;
        right: 10px;
        margin-top: -36px;
    }
}
.product .product-element{
	width: 25%;
	float: left;
	padding: 0px 15px;
	margin-top: 55px;
}
@media screen and (max-width: 1036px) {
    .product .product-element {
        width: 33.3%;
    }
    .product .product-element:last-child{
    	display: none;
    }
}
@media screen and (max-width: 986px) {
    .product .product-element {
        width: 50%;
    }
    .product .product-element:last-child{
    	display: block;
    }
}
@media screen and (max-width: 520px) {
    .product .product-element {
        width: 100%;
        padding: 0px;
        margin-top: 25px;
    }
    .product-element img{
    	width: 145px;
    	height: 95px;
    	float: left;
    }
}
@media screen and (max-width: 420px) {
    .product-element img{
    	width: 120px;
    	height: 85px;
    }
}
.introduction{
	background-color: #fff;
	border-radius: 5px;
	width: 100%;
	clear: both;
	padding: 20px 40px 30px !important;
}
@media screen and (max-width: 520px) {
	.introduction{
		padding: 20px 25px 30px !important;
	}
}
.introduction h4{
	font-family: 'UTM Gloria', sans-serif;
	font-size: 30px;
	color: #EB4F1F;
	position: relative;
	margin-bottom: 40px;
}
@media screen and (max-width: 520px) {
	.introduction h4{
		font-size: 24px;
	}
}
.introduction h4::after{
	content: "";
	width: 50px;
	height: 2px;
	position: absolute;
	bottom: -10px;
	left: 0px;
	background-color: #EB4F1F;
}
.introduction p{
	color: #666;
}
@media screen and (max-width: 520px) {
	.introduction p{
		font-size: 13px;
	}
}
.introduction p span{
	font-family: "UTM AvoBold";
	color: #000;
}
.introduction .sub-text{
	margin-left: 20px;
}
.chinhanh{
	display: inline-block;
	margin-top: 30px;
	width: 48%;
}
@media screen and (max-width: 586px) {
	.chinhanh {
		width: 100%;
		margin-top: 20px;
	}
}
.chinhanh h6{
	font-family: "UTM AvoBold";
	font-size: 14px;
}
.chinhanh p{
	color: #666;
}
.chinhanh p i{
	color: #EB4F1F;
	margin-right: 10px;
	font-size: 15px;
}
.chinhanh-02{
	float: right;
	margin-left: 4%;
}
@media screen and (max-width: 586px) {
	.chinhanh-02 {
		margin-left: 0%;
	}
}
.footer{
	background-color: #EB4F1F;
	padding: 10px 30px !important;
}
@media screen and (max-width: 768px){
	.footer{
		padding: 10px 15px !important;
	}
}
.footer p{
	color: #f4b79b;
	font-size: 13px;
	float: left;
	margin-bottom: 0px;
}
@media screen and (max-width: 768px){
	.footer p{
		font-size: 11px;
	}
}
.footer .list-menu{
	float: right;
	margin-bottom: 0px;
}
.footer .list-menu li{
	display: inline-block;
	color: #f4b79b;
	padding: 0px 10px;
	font-size: 13px;
}
@media screen and (max-width: 768px){
	.footer .list-menu li{
		font-size: 11px;
	}
}
@media screen and (max-width: 620px){
	.footer .list-menu, .footer p{
		float: none;
		text-align: center;
	}
}
@media screen and (max-width: 368px){
	.footer .list-menu li{
		display: block;
		margin-top: 10px;
	}
}




