.page-contact .content{
	padding: 0px;
}
.info{
	float: left;
	position: relative;
	width: 600px;
	height: 130px;
}
.info-bg{
	width: 600px;
	height: 130px;
	background-image: url('../img/bg-info.png');
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: 0.5s;
}
.contact{
	float: right;
	width: 480px;
	height: 600px;
	background-image: url('../img/bg-contact.png');
	background-size: 100% 100%;
	border-radius: 15px;
	margin-top: 35px;
	margin-right: 60px;
	position: relative;
	transition: 1.5s;
	transform: rotateX(90deg);
	/* border-top-left-radius: 50px;
	border-top-right-radius: 50px; */
}
.img-contact{
	position: absolute;
	width: 260px;
	top: -150px;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
}
.contact h4{
	color: #71472F;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 40px;
	margin-top: 105px;
	margin-bottom: 8px;
	opacity: 0;
	transition: 0.5s;
}
.contact-form{
	width: 330px;
	height: 340px;
	/* background: #fff; */
	margin: auto;
	border-radius: 15px;
	border-top-left-radius: 70px;
	border-top-right-radius: 70px;
	padding-top: 10px;
	opacity: 0;
	transition: 0.5s;
}
.contact-info{
	padding-top: 20px;
}
.contact-form h6 {
	color: #825c47;
	display: inline-block;
	margin-right: 10px;
	font-size: 16px;
	width: 75px;
	margin-left: 20px;
}
.line{
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}
.line li {
	width: 80px;
	height: 1px;
	background: #b08165;
	margin-right: 5px;
	display: inline-block;
}
.line .icon{
	width: 15px;
	background: transparent;
}
.line .icon img{
	width: 15px;
	margin-right: 5px;
}
.contact-form input, .contact-form textarea {
	background: #71472F;
	display: inline-block;
	color: #fff;
	width: 200px;
	padding: 5px 15px;
	position: relative;
	top: -3px;
	border-radius: 25px;
}
.contact-form textarea {
	height: 110px;
}
.lb-message{
	position: relative;
	top: -55px;
}
.contact-form button{
	background: #71472F;
	color: #fff;
	padding: 6px 15px;
	border-radius: 10px;
	font-family: 'Nunito', sans-serif;
	float: right;
	margin-right: 30px;
	margin-top: 25px;
}
.info-content{
}
.info-content li{
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	margin-top: 15px;
	background-image: url('../img/bg-info-01.png');
	background-size: 100% 100%;
	width: 330px;
	height: 50px;
}
.info-content li:nth-child(1){
	background-image: url('../img/bg-info-01.png');
}
.info-content li:nth-child(2){
	background-image: url('../img/bg-info-02.png');
}
.info-content li:nth-child(3){
	background-image: url('../img/bg-info-03.png');
}
.info-content li:nth-child(4){
	background-image: url('../img/bg-info-04.png');
	height: 55px;
}
.info-content li img{
	width: 16px;
	position: relative;
	top: -2px;
}
.info-content li span{
	width: 205px;
	text-align: right;
	margin-top: 10px;
	display: inline-block;
	margin-right: 2px;
}
.info-content li:nth-child(1) span{
	color: #FEBE9E;
}
.info-content li:nth-child(2) span{
	color: #F5A9C0;
}
.info-content li:nth-child(3) span{
	color: #C3B409;
}
.info-content li:nth-child(4) span{
	margin-top: 14px;
	color: #D59154;
}


.img-seaweed{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.name-info{
	top: -87px;
	left: 38px;
	width: 90px;
	height: 215px;
	background-image: url('../img/name.png');
	background-size: 100% 50%;
	background-repeat: no-repeat;
	transform: rotate(7deg);
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: 0.5s;
	background-position: center bottom;
}
.birthday-info{
	top: -89px;
	left: 140px;
	width: 100px;
	height: 220px;
	background-image: url('../img/birthday.png');
	background-size: 100% 50%;
	background-repeat: no-repeat;
	transform: rotate(0deg);
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: 0.5s;
	background-position: center bottom;
}
.mail-info{
	top: -79px;
	left: 255px;
	width: 90px;
	height: 210px;
	background-image: url('../img/mail-info.png');
	background-size: 100% 50%;
	background-repeat: no-repeat;
	transform: rotate(0deg);
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: 0.5s;
	background-position: center bottom;
}
.phone-info{
	top: -82px;
	left: 370px;
	width: 90px;
	height: 210px;
	background-image: url('../img/phone.png');
	background-size: 100% 50%;
	background-repeat: no-repeat;
	transform: rotate(0deg);
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: 0.5s;
	background-position: center bottom;
}
.facebook-info{
	top: -103px;
	right: 17px;
	width: 105px;
	height: 230px;
	background-image: url('../img/facebook.png');
	background-size: 100% 50%;
	background-repeat: no-repeat;
	transform: rotate(0deg);
	position: absolute;
	z-index: -1;
	opacity: 0;
	transition: 0.5s;
	background-position: center bottom;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes info_name {
    from {transform: 0px;}
    to {transform: 200px;}
} 

/* Standard syntax */ 
@keyframes info_name {
    0% {transform: rotate(7deg);}
    50% {transform: rotate(15deg);}
	100% {transform: rotate(7deg);}
}


/* Standard syntax */ 
@keyframes info_birthday {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(8deg);}
	100% {transform: rotate(0deg);}
}

/* Standard syntax */ 
@keyframes info_mail {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(8deg);}
	100% {transform: rotate(0deg);}
}

/* Standard syntax */ 
@keyframes info_phone {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(8deg);}
	100% {transform: rotate(0deg);}
}

/* Standard syntax */ 
@keyframes info_facebook {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(8deg);}
	100% {transform: rotate(0deg);}
}


.fish-02{
	position: absolute;
	width: 350px;
	bottom: 200px;
	left: 50px;
	z-index: 2;
}


