.page-demo .content{
	padding: 0px 0px;
}
.demo{
	
}
.demo-section{
	/* background-image: url('../img/bg-board-01.png'); */
	/* width: 800px;
	height: 630px;
	background-size: 100% 100%;
	position: relative;
	margin-left: 40px;
	margin-top: -10px; */
}
.bg-demo{
	background-image: url('../img/bg-banner-demo-01.png');
	background-repeat: repeat-x;
	width: 100%;
	height: 100px;
	background-size: 750px;
	position: relative;
	z-index: 2;
	opacity: 0;
	transition: 0.5s;
}
.list-demo{
	padding-top: 50px;
	padding-left: 40px;
	text-align: center;
}
.list-demo li{
	width: 200px;
	height: 50px;
	background-image: url('../img/skill-box-demo.png');
	background-size: 100% 100%;
	text-align: center;
	color: white;
	font-family: 'Nunito', sans-serif;
	line-height: 40px;
	font-size: 20px;
	font-weight: 700;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: -130px;
	transition: 0.5s;
	opacity: 0;
	cursor: pointer;
}
.list-demo li:hover, 
.list-demo .active{
	background-image: url('../img/skill-box-demo-hover.png');
}
.demo-element{
	text-align: center;
	margin-top: 70px;
	transition: 2s;
	width: 100%;
	transform: translateZ(0);
	transform: translateX(100%);
	position: absolute;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes demo_before {
    0% {transform: translateX(0%);}
	100% {transform: translateX(-100%);}
} 

/* Standard syntax */ 
@keyframes demo_before {
    0% {transform: translateX(0%);}
	100% {transform: translateX(-100%);}
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes demo_after{
    0% {transform: translateX(100%);}
	100% {transform: translateX(0%);}
} 

/* Standard syntax */ 
@keyframes demo_after {
    0% {transform: translateX(100%);}
	100% {transform: translateX(0%);}
}
.demo-element li {
	width: 225px;
	background-color: #0056A8;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
	border-radius: 8px;
	margin-top: 30px;
	cursor: pointer;
}
.demo-element li:last-of-type{
	margin-right: 0px;
}
.demo-element li h4{
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	margin: 25px 0px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
}
.demo-element li img{
	width: 85%;
	height: 150px;
	margin-bottom: 15px;
	background-color: #fff;
	border-radius: 8px;
}
.tree{
	position: absolute;
	right: -135px;
	bottom: -10px;
	width: 230px;
}




