@font-face {
    font-family: 'Aquino';
    src: url('../font/Aquino-Demo.eot');
    src: local('Aquino-Demo'), 
    url('../font/Aquino-Demo.woff') format('woff'), 
    url('../font/Aquino-Demo.ttf') format('truetype'), 
    url('../font/Aquino-Demo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "CochinW01-BoldItalic";
    src: url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.eot");
    src: url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.svg#CochinW01-BoldItalic") format("svg");
}
@font-face {
    font-family: 'Biko_Black';
    src: url('../font/Biko-Black.eot');
    src: local('Biko-Black'), 
    url('../font/Biko-Black.woff') format('woff'), 
    url('../font/Biko-Black.ttf') format('truetype'), 
    url('../font/Biko-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Biko_Bold';
    src: url('../font/Biko-Bold.eot');
    src: local('Biko-Bold'), 
    url('../font/Biko-Bold.woff') format('woff'), 
    url('../font/Biko-Bold.ttf') format('truetype'), 
    url('../font/Biko-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Biko_Regular';
    src: url('../font/Biko.eot');
    src: local('Biko'), 
    url('../font/Biko.woff') format('woff'), 
    url('../font/Biko.ttf') format('truetype'), 
    url('../font/Biko.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Biko_Light';
    src: url('../font/Biko.eot');
    src: local('Biko-Light'), 
    url('../font/Biko-Light.woff') format('woff'), 
    url('../font/Biko-Light.ttf') format('truetype'), 
    url('../font/Biko-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'Biko_Regular', sans-serif !important;
	font-size: 15px;
	color: #000;
}
ul{
	list-style: none;
	padding-left: 0px;
}
button, input{
	outline: 0;
	background-color: transparent;
	border: 0px;
}
a:hover, a:visited{
	text-decoration: none;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.first-section{
	background-color: #e2e5e4;
	width: 100%;
	height: 100%;
	position: relative;
}
@media screen and (max-width: 1036px) {
    .first-section{
		height: 660px;
	}
}
@media screen and (max-width: 768px) {
    .first-section{
		height: 500px;
	}
}
.sub-header{
	padding: 20px 60px 0px !important;
	border-bottom: 1px solid #d0d0d0;
}
@media screen and (max-width: 989px) {
    .sub-header{
		padding: 20px 3% 0px !important;
	}
}
.sub-header .open-hour{
	margin-top: 0px;
	color: #333;
	float: left
}
.sub-header h6{
	margin-right: 30px;
}
.sub-header h6 i{
	margin-right: 5px;
}
.account{
	float: right;
}
@media screen and (max-width: 480px) {
    .account{
		float: none;
		clear: left;
		padding-top: 5px;
	}
}
.shop-cart{
	display: inline-block;
}
.number-cart{
	display: inline-block;
	background-color: #fff;
	width: 15px;
	height: 15px;
	padding-top: 2px;
	border-radius: 50%;
	color: #000;
	font-size: 10px;
	text-align: center;
	position: relative;
	top: -10px;
	left: -10px;
}
.header{
	padding: 30px 60px !important;
	margin-top: -10px;
}
@media screen and (max-width: 989px) {
    .header{
		padding: 30px 3% !important;
	}
}
.header-scroll{
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	background-color: #000;
	padding: 15px 60px 5px !important;
}
@media screen and (max-width: 989px) {
    .header-scroll{
		padding: 15px 3% 5px !important;
	}
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes header_fixed {
    from {margin-top: -30px;opacity: 0;}
    to {margin-top: 0px;opacity: 1;}
} 

/* Standard syntax */ 
@keyframes header_fixed {
    from {margin-top: -30px;opacity: 0;}
    to {margin-top: 0px;opacity: 1;}
}
.header-scroll .logo{
	color: #fff;
}
.header-scroll .menu-header .active{
	border: 1px solid #fff;
}
@media screen and (max-width: 768px) {
    .header-scroll .menu-header .active{
		border: 1px solid #000;
	}
}
.header-scroll .menu-header li a{
	color: #fff;
}
.header-scroll .icon-bar{
	color: #fff;
}
.logo{
	font-family: 'Aquino', sans-serif;
	margin-top: 0px;
	float: left;
	font-size: 28px;
}
.menu-header{
	float: right;
}
@media screen and (max-width: 768px) {
    .menu-header{
		background-color: #000;
		position: fixed;
		right: -124px;
		z-index: 1;
		padding: 0px 10px;
		transition: 0.5s;
	}
}
.menu-header li {
	display: inline-block;
	margin-left: 30px;
}
@media screen and (max-width: 768px) {
    .menu-header li{
		display: block;
		margin-top: 15px;
		margin-bottom: 15px;
		text-align: center;
		margin-left: 0px;
	}
}
.menu-header .active {
	border: 2px solid #000;
	padding: 6px 30px 1px;
}
.menu-header li a{
	text-transform: uppercase;
	color: #000;
	/* font-family: 'Biko_Bold', sans-serif; */
}
@media screen and (max-width: 768px) {
    .menu-header li a{
		color: #fff;
	}
}
.menu-header .active a{
	 font-family: 'Biko_Bold', sans-serif;
}
.icon-bar{
	float: right;
	color: #000;
	display: none;
	margin-right: 11px;
	margin-top: 7px;
}
@media screen and (max-width: 768px) {
    .icon-bar{
		display: block;
	}
}
.icon-remove{
	position: absolute;
	top: 0;
	margin-top: 8px !important;
	display: none;
}
@media screen and (min-width: 768px) {
    .icon-remove{
		display: none !important;
	}
}
@media screen and (max-width: 768px) {
    .icon-remove{
		display: block;
	}
}
.slider-content{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.slider-content img{
	width: 340px;
	float: left;
	margin-left: 10%;
	opacity: 0;
	transition: 1s;
}
@media screen and (max-width: 1024px) {
    .slider-content img{
		margin-left: 3%;
	}
}
@media screen and (max-width: 989px) {
    .slider-content img{
		width: 300px;
	}
}
@media screen and (max-width: 768px) {
    .slider-content img{
		width: 220px;
		position: absolute; 
		bottom: 0;
	}
}
.slider-content .slider-text{
	float: right;
	text-align: center;
	margin-top: 110px;
	margin-right: 10%;
}
@media screen and (max-width: 989px) {
    .slider-content .slider-text{
		margin-top: 80px;
	}
}
@media screen and (max-width: 768px) {
    .slider-content .slider-text{
		position: absolute;
		bottom: 60px;
		right: 0px;
	}
}
@media screen and (max-width: 580px) {
    .slider-content .slider-text{
		margin-right: 3%;
	}
}
.slider-content .slider-text h5{
	text-align: center;
	font-size: 30px;
	letter-spacing: 0.7px;
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.5s;
}
@media screen and (max-width: 989px) {
    .slider-content .slider-text h5{
		font-size: 24px;
	}
}
@media screen and (max-width: 768px) {
    .slider-content .slider-text h5{
		font-size: 17px;
	}
}
.slider-content .slider-text h4{
	text-align: center;
	font-size: 63px;
	color: #000;
	font-family: 'Biko_Bold', sans-serif;
	letter-spacing: 0.7px;
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.5s;
}
@media screen and (max-width: 989px) {
    .slider-content .slider-text h4{
		font-size: 50px;
	}
}
@media screen and (max-width: 768px) {
    .slider-content .slider-text h4{
		font-size: 37px;
	}
}
.slider-content .slider-text h6{
	text-align: center;
	font-size: 17px;
	margin-top: 100px;
	letter-spacing: 0.7px;
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.5s;
}
@media screen and (max-width: 989px) {
    .slider-content .slider-text h6{
		font-size: 15px;
		margin-top: 80px;
	}
}
@media screen and (max-width: 768px) {
    .slider-content .slider-text h6{
		font-size: 13px;
		margin-top: 50px;
	}
}
.btn-general{
	color: #fff;
	background-color: #000;
	padding: 8px 25px 4px;
	border: 0px;
	margin-top: 20px;
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.5s;
}
.btn-general i{
	margin-left: 15px;
}
.btn-shop{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #000;
	background-color: transparent;
	transition: 0.4s;
}
.btn-shop:hover{
	background-color: #000 !important;
	color: #fff;
}
.btn-shop img{
	width: 14px !important;
	margin-top: 0px !important;
	cursor: pointer;
}
.section{
	padding: 40px 60px;
}
@media screen and (max-width: 989px) {
    .section{
		padding: 40px 3%;
	}
}
.title{
	font-size: 22px;
	letter-spacing: 0.5px;
	margin-top: 0px;
	position: relative;
}
.title::after{
	content: '';
	position: absolute;
	top: 30px;
	left: 0;
	width: 40px;
	height: 3px;
	background-color: #000;
}
.title span{
	font-family: 'Biko_Black', sans-serif;
}
.collection-content{
	margin-top: 80px;
	position: relative;
	padding: 0px 60px !important;
}
@media screen and (max-width: 1036px) {
    .collection-content{
		padding: 0px !important;
		width: 785px;
	}
}
@media screen and (max-width: 840px) {
    .collection-content{
		width: 540px;
	}
}
@media screen and (max-width: 589px) {
    .collection-content{
		width: 385px;
	}
}
@media screen and (max-width: 480px) {
    .collection-content{
		width: 295px;
		margin-top: 30px;
	}
	.collection-section .title{
		margin-bottom: 70px;
	}
}
.collection-content .model{
	width: 210px;
	float: left;
	position: relative;
	top: -25px;
}
@media screen and (max-width: 1036px) {
    .collection-content .model{
		width: 175px;
	}
}
@media screen and (max-width: 480px) {
    .collection-content .model{
		width: 130px;
	}
}
@media screen and (max-width: 1036px) {
    .collection-content .model-02{
		width: 110px !important;
	}
}
@media screen and (max-width: 840px) {
    .collection-content .model-02{
		margin-top: 30px;
	}
}
@media screen and (max-width: 480px) {
    .collection-content .model-02{
		width: 80px !important;
	}
}
.introduce{
	margin-top: 230px;
	float: left;
}
.model-2-1{
	display: none;
}
.model-2-1 .introduce{
	margin-left: 50px;
	margin-top: 150px !important;
}
.model-2-1 .introduce h5, .model-2-1 .introduce h6, .model-2-1 .introduce p{
	text-align: left !important;
}
@media screen and (max-width: 1036px) {
    .introduce{
		margin-top: 100px;
	}
}
@media screen and (max-width: 840px) {
    .model-2-1{
		display: block;
	}
	.model-2-2{
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.model-2-1 .introduce{
		margin-right: 0px !important;
		margin-top: 20px !important;
	}
}
@media screen and (max-width: 480px) {
    .introduce{
		margin-top: 0px;
	}
}
.collection-content-right .introduce{
	margin-top: 0px;
	margin-right: 40px;
}
/* @media screen and (max-width: 840px) {
    .collection-content-right {
		padding-left: 0px !important;
	}
} */
.introduce h5{
	font-size: 16px;
	font-family: 'Biko_Bold', sans-serif;
	margin-bottom: 5px;
}
.introduce h6{
	color: #a5a5a5;
	font-family: 'CochinW01-BoldItalic';
	font-style: italic;
	margin-top: 5px;
}
.introduce p{
	margin-top: 10px;
	color: #999;
	width: 250px;
	float: left;
	text-align: left;
	font-size: 13px;
}
@media screen and (max-width: 1036px) {
    .introduce p{
		width: 180px;
		font-size: 12px;
	}
}
@media screen and (max-width: 480px) {
    .introduce p{
		width: 160px;
		font-size: 12px;
	}
}
.collection-content-right .introduce h5, .collection-content-right .introduce h6, .collection-content-right .introduce p{
	text-align: right;
}
.dress-collection{
	float: left;
	margin-left: 90px;
}
@media screen and (max-width: 1036px) {
    .dress-collection{
		margin-left: 50px;
	}
}
@media screen and (max-width: 840px) {
    .dress-collection{
		margin-left: 0px;
	}
}
@media screen and (max-width: 840px) {
    .collection-content .dress-collection:nth-child(3){
		/* clear: left; */
		margin-left: 40px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-general{
		float: left;
	}
	.collection-content .dress-collection:nth-child(4) .collection-large{
		width: 260px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-small{
		width: 205px;
		margin-left: 30px;
		height: 240px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-small img{
		float: none;
		width: 70px;
		margin-top: 70px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-small .info{
		padding-top: 5px;
		padding-left: 0px;

	}
}
@media screen and (max-width: 589px) {
    .collection-content .dress-collection:nth-child(3){
		clear: left;
		margin-left: 0px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-general{
		float: none;
	}
	.collection-content .dress-collection:nth-child(4) .collection-large{
		width: 185px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-small{
		width: 185px;
		margin-left: 0px;
		height: 110px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-small img{
		float: left;
		width: 50px;
		margin-top: 40px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-small .info{
		padding-top: 45px;
		padding-left: 20px;

	}
}
@media screen and (max-width: 460px) {
	.collection-content .dress-collection:nth-child(4) .collection-large{
		width: 165px;
	}
	.collection-content .dress-collection:nth-child(4) .collection-small{
		width: 165px;
		height: 102px;
	}
}
.dress-collection:last-child{
	margin-left: 40px;
}
@media screen and (max-width: 480px) {
    .dress-collection:last-child{
		margin-left: 20px;
	}
}
.collection-content-right .dress-collection{
	margin-left: 0px;
	margin-right: 40px;
}
@media screen and (max-width: 840px) {
    .collection-content-right .dress-collection{
		margin-right: 0px;
		margin-left: 40px;
	}
}
@media screen and (max-width: 480px) {
    .collection-content-right .dress-collection{
		margin-left: 20px;
	}
}
.collection-content-right .dress-collection:nth-child(2){
	margin-left: 0px;
	margin-right: 90px;
}
@media screen and (max-width: 840px) {
    .collection-content-right .dress-collection:nth-child(3){
		margin-left: 0px;
	}
}
/* @media screen and (max-width: 480px) {
    .collection-content-right .dress-collection:nth-child(2){
		margin-right: 0px;
	}
} */
.collection-general{
	background-color: #e2e5e4;
	padding: 10px 20px 2px;
	width: 180px;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	transition: 0.5s;
}
@media screen and (max-width: 1036px) {
    .collection-general{
		padding: 0px 10px 2px;
		width: 140px;
	}
}
@media screen and (max-width: 480px) {
    .collection-general{
		width: 110px;
	}
}
.collection-general:hover{
	box-shadow: 0px 0px 6px #b0b0b0;
	background-color: #fff;
}
.collection-general .btn-shop{
	position: absolute;
	right: 10px;
	top: 10px;
}
.collection-general img{
	float: none;
	width: 100px;
	margin-top: 50px;
}
@media screen and (max-width: 1036px) {
    .collection-general img{
		width: 70px;
		margin-top: 45px;
	}
}
@media screen and (max-width: 480px) {
    .collection-general img{
		width: 60px;
	}
}
@media screen and (max-width: 1036px) {
    .collection-content .heel-02{
		width: 60px !important;
	}
}
@media screen and (max-width: 480px) {
    .collection-general .heel-02{
		width: 55px !important;
	}
}
@media screen and (max-width: 1036px) {
    .collection-content .bag-02{
		width: 68px !important;
	}
}
@media screen and (max-width: 480px) {
    .collection-general .bag-02{
		width: 66px !important;
	}
}
@media screen and (max-width: 1036px) {
    .collection-content .dress-02{
		width: 65px !important;
	}
}
@media screen and (max-width: 1036px) {
    .collection-content .hand-02{
		width: 45px !important;
	}
}
@media screen and (max-width: 480px) {
    .collection-general .hand-02{
		width: 35px !important;
	}
}
.collection-general .info{
	margin-top: 30px;
}
@media screen and (max-width: 1036px) {
    .collection-general .info{
		margin-top: 25px;
	}
}
.collection-general .info h5{
	font-family: 'Biko_Bold', sans-serif;
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}
.collection-general .info h6{
	font-family: 'CochinW01-BoldItalic';
	font-style: italic;
	color: #999;
	text-align: left;
	margin-top: 5px;
}
@media screen and (max-width: 1036px) {
    .collection-general .info h6{
		margin-bottom: 5px;
	}
}
.collection-large{
	width: 250px;
	height: 310px;
}
@media screen and (max-width: 1036px) {
    .collection-large{
		width: 185px;
		height: 240px;
	}
}
@media screen and (max-width: 480px) {
    .collection-large{
		width: 165px;
		height: 240px;
	}
}
.collection-large img{
	width: 125px;
}
@media screen and (max-width: 1036px) {
    .collection-large img{
		width: 90px;
	}
}
.collection-small{
	width: 250px;
	height: 130px;
}
@media screen and (max-width: 1036px) {
    .collection-small{
		width: 185px;
		height: 110px;
	}
}
@media screen and (max-width: 480px) {
    .collection-small{
		width: 165px;
		height: 102px;
	}
}
.collection-small img{
	width: 70px;
	float: left;
	margin-top: 40px;
}
@media screen and (max-width: 1036px) {
    .collection-small img{
		width: 50px;
	}
}
@media screen and (max-width: 480px) {
    .collection-small img{
		width: 40px;
	}
}
.collection-small .info{
	margin-top: 45px;
	overflow: hidden;
	padding-left: 20px;
}
@media screen and (max-width: 1036px) {
    .collection-small .info{
		padding-top: 45px;
	}
}
@media screen and (max-width: 480px) {
    .collection-small .info{
		padding-left: 15px;
	}
}
.new-clother-section{
	background: #E2E5E4;
}
.hand-bag-section{
	background-color: #fff;
}
.new-clother{
	width: 875px;
	margin: auto;
	overflow: hidden;
}
@media screen and (max-width: 1036px) {
    .new-clother{
    	width: 620px;
    }
}
@media screen and (max-width: 768px) {
    .new-clother{
    	width: 390px;
    }
}
@media screen and (max-width: 540px) {
    .new-clother{
    	width: 150px;
    }
}
.new-clother-flex{
	display: flex;
	transition: 1s;
}
.new-clother-element{
	float: left;
	text-align: center;
	margin-top: 70px;
	margin-right: 120px;
	cursor: pointer;
}
.new-clother-element:hover .img-clother-section .img-clother{
	transform: scale(1.2) translateY(-45%);
}
.new-clother-element h5{
	font-family: 'Biko_Bold', sans-serif;
	margin-top: 25px;
	margin-bottom: 0px;
	cursor: pointer;
}
.new-clother-element h6{
	font-family: 'CochinW01-BoldItalic';
	color: #999;
	font-style: italic;
	margin-top: 5px;
}
.img-clother-section{
	width: 120px;
	height: 150px;
	position: relative;
}
.img-clother{
	width: 120px;
	transition: 0.5s;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: scale(1) translateY(-50%);
	/* transform: translateY(-50%); */
}
.icon-star{
	width: 13px;
}
.btn-left, .btn-right{
	margin-top: 140px;
}
.btn-left img, .btn-right img{
	width: 35px;
}
.btn-left{
	float: left;
}
.btn-right{
	float: right;
}
.banner {
	background-color: #E2E5E4;
	padding: 50px 8% !important;
}
@media screen and (max-width: 768px) {
    .banner{
    	padding: 50px 3% !important;
    }
}
.banner img{
	width: 70%;
	float: left;
}
@media screen and (min-width: 1280px) {
    .banner img{
    	width: 700px;
    }
}
@media screen and (max-width: 989px) {
    .banner img{
    	width: 60%;
    }
}
@media screen and (max-width: 520px) {
    .banner img{
    	width: 262px;
    	margin: auto;
    	float: none;
    	display: inherit;
    }
}
.banner-content{
	float: left;
	text-align: center;
	padding-top: 50px;
	padding-left: 30px;
}
@media screen and (max-width: 989px) {
    .banner-content{
    	padding-top: 20px;
    }
}
@media screen and (max-width: 520px) {
    .banner-content{
    	width: 190px;
    	margin: auto;
    	float: none;
    	padding-left: 0px;
    }
}
.banner-content h5{
	font-size: 54px;
	font-family: 'Biko_Bold', sans-serif;
	margin-top: 0px;
	color: #000;
	margin-bottom: 3px;
}
@media screen and (max-width: 989px) {
    .banner-content h5{
    	font-size: 38px;
    }
}
.banner-content h6{
	font-size: 18px;
	color: #666;
	margin-top: 0px;
}
@media screen and (max-width: 989px) {
    .banner-content h6{
    	font-size: 13px;
    }
}
.title-extra{
	font-size: 16px !important;
	text-transform: uppercase;
	color: #666;
	position: relative;
	margin-bottom: 3px;
}
@media screen and (max-width: 768px) {
    .title-extra{
    	font-size: 14px !important;
    }
}
.title-extra::before, .title-extra::after{
	content: '';
	position: absolute;
	width: 60px;
	height: 2px;
	top: 7px;
	background-color: #666;
}
@media screen and (max-width: 768px) {
    .title-extra::before, .title-extra::after{
    	width: 45px;
    }
}
.title-extra::before{
	left: 0px;
}
@media screen and (max-width: 768px) {
    .title-extra::before{
    	left: 8px;
    }
}
.title-extra::after{
	right: 0px;
}
@media screen and (max-width: 768px) {
    .title-extra::after{
    	right: 8px;
    }
}
@media screen and (max-width: 768px) {
    .banner-content .btn-general{
    	padding: 8px 15px 4px;
    }
}
.footer{
	padding: 50px 40px 0px !important;
}
@media screen and (max-width: 986px) {
    .footer{
    	padding: 50px 3% 0px !important;
    }
}
.footer-element{
	padding: 0px 20px;
	width: 33.3%;
	float: left;
	margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
    .footer-element{
    	width: 100%;
    }
}
.footer-element h5{
	font-family: 'Biko_Bold', sans-serif;
	font-size: 17px;
}
.footer-element h6{
	font-family: 'Biko_Bold', sans-serif;
	font-size: 14px;
}
.footer-element h6 span{
	font-family: 'Biko_Regular', sans-serif;
	font-size: 14px;
	color:  #999;
	margin-left: 5px;
}
.input-group{
	margin-top: 30px;
}
.input-group input{
	background-color: #E2E5E4;
	border: 0px;
	padding: 5px 10px 2px;
	color: #999;
	width: 60%;
}
.input-group button{
	color: #fff;
	background-color: #000;
	padding: 5px 20px 2px;
	width: 40%;
}
.group-share{
	margin-top: 20px;
}
.group-share button{
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 50%;
	margin-right: 5px;
	transition: 0.4s;
}
.group-share button:hover{
	background-color: #000 !important;
	color: #fff;
}
.copyright{
	padding: 20px 0px !important;
	clear: both;
	border-top: 1px solid #e7e7e7;
}
@media screen and (max-width: 768px) {
    .copyright{
		text-align: center;
	}
}
.copyright p{
	color: #999;
	float: left;
}
@media screen and (max-width: 768px) {
    .copyright p{
		float: none;
	}
}
.list-menu{
	float: right;
	list-style: none;
	padding-left: 0px;
}
@media screen and (max-width: 768px) {
    .list-menu {
		float: none;
	}
}
.list-menu li{
	display: inline-block;
	margin-left: 10px;
	position: relative;
	text-transform: uppercase;
	color: #999;
}
.list-menu li a{
	color: #999;
}
.list-menu li span{
	display: inline-block;
	width: 1px;
	height: 10px;
	margin-left: 10px;
	background-color: #999;
}






