@font-face {
    font-family: 'Aquino';
    src: url('../font/Aquino-Demo.eot');
    src: local('Aquino-Demo'), 
    url('../font/Aquino-Demo.woff') format('woff'), 
    url('../font/Aquino-Demo.ttf') format('truetype'), 
    url('../font/Aquino-Demo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "CochinW01-BoldItalic";
    src: url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.eot");
    src: url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b071dae36fed6352c1e76e8cb027bb61.svg#CochinW01-BoldItalic") format("svg");
}
@font-face {
    font-family: 'Biko_Black';
    src: url('../font/Biko-Black.eot');
    src: local('Biko-Black'), 
    url('../font/Biko-Black.woff') format('woff'), 
    url('../font/Biko-Black.ttf') format('truetype'), 
    url('../font/Biko-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Biko_Bold';
    src: url('../font/Biko-Bold.eot');
    src: local('Biko-Bold'), 
    url('../font/Biko-Bold.woff') format('woff'), 
    url('../font/Biko-Bold.ttf') format('truetype'), 
    url('../font/Biko-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Biko_Regular';
    src: url('../font/Biko.eot');
    src: local('Biko'), 
    url('../font/Biko.woff') format('woff'), 
    url('../font/Biko.ttf') format('truetype'), 
    url('../font/Biko.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Biko_Light';
    src: url('../font/Biko.eot');
    src: local('Biko-Light'), 
    url('../font/Biko-Light.woff') format('woff'), 
    url('../font/Biko-Light.ttf') format('truetype'), 
    url('../font/Biko-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	font-family: 'Biko_Regular', sans-serif !important;
	font-size: 15px;
	color: #000;
}
ul{
	list-style: none;
	padding-left: 0px;
}
button, input{
	outline: 0;
	background-color: transparent;
	border: 0px;
}
a:hover, a:visited{
	text-decoration: none;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.first-section{
	background-color: #e2e5e4;
	width: 100%;
	height: 100%;
	position: relative;
}
.sub-header{
	padding: 20px 60px 0px !important;
	/* margin-left: 60px !important;
	margin-right: 60px !important; */
	border-bottom: 1px solid #d0d0d0;
}
.sub-header .open-hour{
	margin-top: 0px;
	color: #333;
	float: left
}
.sub-header h6{
	margin-right: 30px;
}
.sub-header h6 i{
	margin-right: 5px;
}
.account{
	float: right;
}
.shop-cart{
	display: inline-block;
}
.number-cart{
	display: inline-block;
	background-color: #fff;
	width: 15px;
	height: 15px;
	padding-top: 2px;
	border-radius: 50%;
	color: #000;
	font-size: 10px;
	text-align: center;
	position: relative;
	top: -10px;
	left: -10px;
}
.header{
	padding: 30px 60px !important;
	margin-top: -10px;
}
.header-scroll{
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	background-color: #000;
	padding: 15px 60px 5px !important;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes header_fixed {
    from {margin-top: -30px;opacity: 0;}
    to {margin-top: 0px;opacity: 1;}
} 

/* Standard syntax */ 
@keyframes header_fixed {
    from {margin-top: -30px;opacity: 0;}
    to {margin-top: 0px;opacity: 1;}
}
.header-scroll .logo{
	color: #fff;
}
.header-scroll .menu-header .active{
	border: 1px solid #fff;
}
.header-scroll .menu-header li a{
	color: #fff;
}
.logo{
	font-family: 'Aquino', sans-serif;
	margin-top: 0px;
	float: left;
	font-size: 28px;
}
.menu-header{
	float: right;
}
.menu-header li {
	display: inline-block;
	margin-left: 30px;
}
.menu-header .active {
	border: 2px solid #000;
	padding: 6px 30px 1px;
}
.menu-header li a{
	text-transform: uppercase;
	color: #000;
	/* font-family: 'Biko_Bold', sans-serif; */
}
.menu-header .active a{
	 font-family: 'Biko_Bold', sans-serif;
}
.slider-content{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.slider-content img{
	width: 340px;
	float: left;
	margin-left: 140px;
	opacity: 0;
	transition: 1s;
}
.slider-content .slider-text{
	float: right;
	text-align: center;
	margin-top: 110px;
	margin-right: 140px;
}
.slider-content .slider-text h5{
	text-align: center;
	font-size: 30px;
	letter-spacing: 0.7px;
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.5s;
}
.slider-content .slider-text h4{
	text-align: center;
	font-size: 63px;
	color: #000;
	font-family: 'Biko_Bold', sans-serif;
	letter-spacing: 0.7px;
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.5s;
}
.slider-content .slider-text h6{
	text-align: center;
	font-size: 17px;
	margin-top: 100px;
	letter-spacing: 0.7px;
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.5s;
}
.btn-general{
	color: #fff;
	background-color: #000;
	padding: 8px 25px 4px;
	border: 0px;
	margin-top: 20px;
	position: relative;
	top: -20px;
	opacity: 0;
	transition: 0.5s;
}
.btn-general i{
	margin-left: 15px;
}
.btn-shop{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #000;
	background-color: transparent;
	transition: 0.4s;
}
.btn-shop:hover{
	background-color: #000 !important;
	color: #fff;
}
.btn-shop img{
	width: 14px !important;
	margin-top: 0px !important;
	cursor: pointer;
}
.section{
	padding: 40px 60px;
}
.title{
	font-size: 22px;
	letter-spacing: 0.5px;
	margin-top: 0px;
	position: relative;
}
.title::after{
	content: '';
	position: absolute;
	top: 30px;
	left: 0;
	width: 40px;
	height: 3px;
	background-color: #000;
}
.title span{
	font-family: 'Biko_Black', sans-serif;
}
.collection-content{
	margin-top: 80px;
	position: relative;
	padding: 0px 60px !important;
}
.collection-content .model{
	width: 210px;
	float: left;
	position: relative;
	top: -25px;
}
.introduce{
	margin-top: 230px;
	float: left;
}
.collection-content-right .introduce{
	margin-top: 0px;
	margin-right: 40px;
}
.introduce h5{
	font-size: 16px;
	font-family: 'Biko_Bold', sans-serif;
	margin-bottom: 5px;
}
.introduce h6{
	color: #a5a5a5;
	font-family: 'CochinW01-BoldItalic';
	font-style: italic;
	margin-top: 5px;
}
.introduce p{
	margin-top: 10px;
	color: #999;
	width: 250px;
	float: left;
	text-align: left;
	font-size: 13px;
}
.collection-content-right .introduce h5, .collection-content-right .introduce h6, .collection-content-right .introduce p{
	text-align: right;
}
.dress-collection{
	float: left;
	margin-left: 90px;
}
.dress-collection:last-child{
	margin-left: 40px;
}
.collection-content-right .dress-collection{
	margin-left: 0px;
	margin-right: 40px;
}
.collection-content-right .dress-collection:nth-child(2){
	margin-left: 0px;
	margin-right: 90px;
}
.collection-general{
	background-color: #e2e5e4;
	padding: 10px 20px 2px;
	width: 180px;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	transition: 0.5s;
}
.collection-general:hover{
	box-shadow: 0px 0px 6px #b0b0b0;
	background-color: #fff;
}
.collection-general .btn-shop{
	position: absolute;
	right: 10px;
	top: 10px;
}
.collection-general img{
	float: none;
	width: 100px;
	margin-top: 50px;
}
.collection-general .info{
	margin-top: 30px;
}
.collection-general .info h5{
	font-family: 'Biko_Bold', sans-serif;
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}
.collection-general .info h6{
	font-family: 'CochinW01-BoldItalic';
	font-style: italic;
	color: #999;
	text-align: left;
	margin-top: 5px;
}
.collection-large{
	width: 250px;
	height: 310px;
}
.collection-large img{
	width: 125px;
}
.collection-small{
	width: 250px;
	height: 130px;
}
.collection-small img{
	width: 70px;
	float: left;
	margin-top: 40px;
}
.collection-small .info{
	margin-top: 45px;
	overflow: hidden;
	padding-left: 20px;
}
.new-clother-section{
	background: #E2E5E4;
}
.hand-bag-section{
	background-color: #fff;
}
.new-clother{
	width: 875px;
	margin: auto;
	overflow: hidden;
}
.new-clother-flex{
	display: flex;
	transition: 1s;
}
.new-clother-element{
	float: left;
	text-align: center;
	margin-top: 70px;
	margin-right: 120px;
	cursor: pointer;
}
.new-clother-element:hover .img-clother-section .img-clother{
	transform: scale(1.2) translateY(-45%);
}
.new-clother-element h5{
	font-family: 'Biko_Bold', sans-serif;
	margin-top: 25px;
	margin-bottom: 0px;
	cursor: pointer;
}
.new-clother-element h6{
	font-family: 'CochinW01-BoldItalic';
	color: #999;
	font-style: italic;
	margin-top: 5px;
}
.img-clother-section{
	width: 120px;
	height: 150px;
	position: relative;
}
.img-clother{
	width: 120px;
	transition: 0.5s;
	position: absolute;
	left: 0px;
	top: 50%;
	transform: scale(1) translateY(-50%);
	/* transform: translateY(-50%); */
}
.icon-star{
	width: 13px;
}
.btn-left, .btn-right{
	margin-top: 140px;
}
.btn-left img, .btn-right img{
	width: 35px;
}
.btn-left{
	float: left;
}
.btn-right{
	float: right;
}
.banner {
	background-color: #E2E5E4;
	padding: 50px 120px !important;
}
.banner img{
	width: 700px;
	float: left;
}
.banner-content{
	float: left;
	text-align: center;
	padding-top: 50px;
	padding-left: 30px;
}
.banner-content h5{
	font-size: 54px;
	font-family: 'Biko_Bold', sans-serif;
	margin-top: 0px;
	color: #000;
	margin-bottom: 3px;
}
.banner-content h6{
	font-size: 18px;
	color: #666;
	margin-top: 0px;
}
.title-extra{
	font-size: 16px !important;
	text-transform: uppercase;
	color: #666;
	position: relative;
	margin-bottom: 3px;
}
.title-extra::before, .title-extra::after{
	content: '';
	position: absolute;
	width: 60px;
	height: 2px;
	top: 7px;
	background-color: #666;
}
.title-extra::before{
	left: 0px;
}
.title-extra::after{
	right: 0px;
}
.footer{
	padding: 50px 40px 0px !important;
}
.footer-element{
	padding: 0px 20px;
	width: 33.3%;
	float: left;
	margin-bottom: 30px;
}
.footer-element h5{
	font-family: 'Biko_Bold', sans-serif;
	font-size: 17px;
}
.footer-element h6{
	font-family: 'Biko_Bold', sans-serif;
	font-size: 14px;
}
.footer-element h6 span{
	font-family: 'Biko_Regular', sans-serif;
	font-size: 14px;
	color:  #999;
	margin-left: 5px;
}
.input-group{
	margin-top: 30px;
}
.input-group input{
	background-color: #E2E5E4;
	border: 0px;
	padding: 5px 10px 2px;
	color: #999;
}
.input-group button{
	color: #fff;
	background-color: #000;
	padding: 5px 20px 2px;
}
.group-share{
	margin-top: 20px;
}
.group-share button{
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	border-radius: 50%;
	margin-right: 5px;
	transition: 0.4s;
}
.group-share button:hover{
	background-color: #000 !important;
	color: #fff;
}
.copyright{
	padding: 20px 0px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
	clear: both;
	border-top: 1px solid #e7e7e7;
}
.copyright p{
	color: #999;
	float: left;
}
.list-menu{
	float: right;
	list-style: none;
	padding-left: 0px;
}
.list-menu li{
	display: inline-block;
	margin-left: 10px;
	position: relative;
	text-transform: uppercase;
	color: #999;
}
.list-menu li a{
	color: #999;
}
.list-menu li span{
	display: inline-block;
	width: 1px;
	height: 10px;
	margin-left: 10px;
	background-color: #999;
}






