body{
	background-color: white;
	margin: 0px;
	height: 100%;
	font-family: 'Signika', sans-serif !important;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
button{
	background-color: transparent;
	border: 1px solid transparent;
	outline: 0px;
}
input, textarea{
	background-color: transparent;
	outline: 0px;
	border: 1px solid transparent;
}
ul{
	list-style: none;
	padding-left: 0px;
}
a{
	color: #fff;
	text-decoration: none;
}
.pp-tableCell{
	height: auto !important;
}
#pp-nav{
	display: none;
}
/* .pagepiling{
	background-image: url('../img/bg-02.png');
	background-size: 100% 100%;
} */

.page{
	width: 100%;
	height: 100%;
	background-image: url('../img/bg-header.png');
	background-size: 100% 100%;
	position: relative;
}
.page-02{
	background-image: url('../img/bg-01.png');
}
.page-06{
	background-image: url('../img/bg-contact.jpg');
}
#bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	display: none;
}
.bg-page-02{
	width: 100%;
	height: 100%;
	position: absolute;
	background: #017aef;
	opacity: 0.7;
	z-index: 2;
}
.content{
	position: relative;
	z-index: 3;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.content-skill{
	width: 1068px;
	margin: 20px auto;
}
.title{
	width: 500px;
	height: 70px;
	margin: 0px auto;
	background-image: url('../img/box-title.png');
	background-size: 100% 100%;
}
.title h1{
	font-size: 38px;
	width: 500px;
	margin: 0px auto;
	text-align: center;
	color: #c24017;
	padding-top: 6px;
	font-family: 'Lobster', cursive;
}
.title-section{
	position: relative;
	width: 600px;
	margin: auto;
}
.title-logo{
	font-family: 'Grand Hotel', cursive;
	color: #fff;
	font-size: 90px;
	text-align: center;
	margin-top: 0;
	font-weight: 700;
	letter-spacing: 0.5px;
	height: 400px;
	line-height: 400px;
	position: relative;
	z-index: 1;
}
.title-logo span{
	margin-left: -21px;
	opacity: 0;
	transition: 0.5s;
	display: inline-block;
	transform: translateY(-20%) translateZ(0);
}
.title-logo .txt-space{
	margin-left: 3px;
}
.img-sun{
	width: 150px;
	position: absolute;
	top: 40px;
	left: 40px;
	opacity: 0;
	transition: 0.5s;
}
.img-balloon{
	width: 80px;
	position: absolute;
	top: 80px;
	right: 110px;
	z-index: 0;
	opacity: 0;
	transition: 1s;
}
.img-cloud-01{
	width: 60px;
	position: absolute;
	top: 85px;
	right: 170px;
	opacity: 0;
	transition: 1s;
}
.img-cloud-02{
	width: 60px;
	position: absolute;
	top: 120px;
	right: 70px;
	opacity: 0;
	transition: 1s;
}
.img-plane{
	width: 90px;
	position: absolute;
	top: 260px;
	left: -150%;
	transition: 5s;
}
.scroll{
	background-color: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	/* transform: translateY(150%); */
	z-index: 10;
	transition: 0.5s;
	opacity: 0;
	cursor: pointer;
}
.page:nth-child(1) .scroll{
	opacity: 0;
	transform: translateY(0%);
}
.scroll-right{
	bottom: 20px;
	left: 88% !important;
}
.scroll h6{
	color: #82D3E6;
	margin-bottom: 2px;
	margin-top: 5px;
	font-size: 13px;
	cursor: pointer;
}
.scroll i{
	color: #82D3E6;
	font-size: 20px;
	cursor: pointer;
}
.level-skill{
	float: left;
	margin-left: 30px;
	height: 35px;
}
.level li{
	display: inline-block;
	width: 120px;
	margin-right: 20px;
	text-align: center;
}
.level li:first-child{
	width: 180px;
	height: 40px;
}
.level li span{
	color: #1f778c;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding: 5px 15px;
	background: #82D3E6;
	text-transform: uppercase;
}
.number-skill{
	margin-top: 35px;
}
.number-skill li{
	width: 120px;
	height: 50px;
	display: inline-block;
	margin-right: 20px;
	text-align: center;
}
.number-skill li:first-child{
	width: 180px;
	height: 40px;
	background-image: url('../img/skill-box.png');
	background-size: 100% 100%;
	text-align: center;
	color: white;
	font-family: 'Nunito', sans-serif;
	line-height: 40px;
	font-size: 20px;
	font-weight: 700;
	position: relative;
	top: 8px;
}
.number-skill li img{
	width: 90px;
	height: 60px;
	margin-left: 950%;
}

.mernaid{
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}
.history{
	margin-left: 50px;
	padding-left: 350px;
	margin-top: 30px;
}
.history-body{
	position: relative;
	height: 100%;
}
.history-element img{
	float: left;
	transform: scale(0);
	transition: 0.5s;
}
.history-02{
	position: absolute;
	top: 250px;
	left: 80px;
}
.history-03{
	position: absolute;
	top: 100px;
	left: 400px;
}
.history-04{
	position: absolute;
	top: 425px;
	left: 375px;
}
.history-content{
	overflow: hidden;
	padding-left: 150px;
	font-family: 'Nunito', sans-serif;
	transition: 0.5s;
	opacity: 0;
}
.history-content h4{
	color: white;
	font-weight: 700;
	margin-top: 30px;
}
.history-content p, .history-content h6{
	color: #a7e3f1;
	letter-spacing: 0.5px;
	width: 160px;
	word-spacing: 1.5px;
	font-size: 14px;
	white-space: nowrap;
	font-family: 'Questrial', sans-serif;
}
.history-content h6{
	width: auto;
}
.icon-text{
	margin-right: 10px;
}
.circle-list{
	position: absolute;
	top: 130px;
	left: 50px;
}
.circle-list li {
	width: 10px;
	height: 10px;
	background-color: #F8E072;
	border-radius: 50%;
	margin-top: 8px;
	transform: scale(0);
	transition: 0.3s;
}
.circle-list li:nth-child(2) {
	margin-left: -14px;
}
.circle-list li:nth-child(3) {
	margin-left: -20px;
}
.circle-list li:nth-child(4) {
	margin-left: -22px;
}
.circle-list li:nth-child(5) {
	margin-left: -21px;
}
.circle-list li:nth-child(6) {
	margin-left: -17px;
}
.circle-list li:nth-child(7) {
	margin-left: -8px;
}
.circle-list li:nth-child(8) {
	margin-left: 2px;
}
.circle-list li:nth-child(9) {
	margin-left: 15px;
}
.circle-list li:nth-child(10) {
	margin-left: 30px;
}

/* circle-list-02 */
.circle-list-02{
	top: 160px;
	left: 370px;
}
.circle-list-02 li:nth-child(2) {
	margin-left: -20px !important;
	margin-top: -16px !important;
}
.circle-list-02 li:nth-child(3) {
	margin-left: -40px !important;
	margin-top: -11px !important;
}
.circle-list-02 li:nth-child(4) {
	margin-left: -59px !important;
	margin-top: -8px !important;
}
.circle-list-02 li:nth-child(5) {
	margin-left: -79px !important;
	margin-top: -4px !important;
}
.circle-list-02 li:nth-child(6) {
	margin-left: -97px !important;
	margin-top: -1px !important;
}
.circle-list-02 li:nth-child(7) {
	margin-left: -115px !important;
	margin-top: 0px !important;
}
.circle-list-02 li:nth-child(8) {
	margin-left: -131px !important;
	margin-top: 1px !important;
}
.circle-list-02 li:nth-child(9) {
	margin-left: -147px !important;
	margin-top: 4px !important;
}
.circle-list-02 li:nth-child(10) {
	margin-left: -161px !important;
	margin-top: 5px !important;
}
.circle-list-02 li:nth-child(11) {
	margin-left: -173px !important;
	margin-top: 4px !important;
}
.circle-list-02 li:nth-child(12) {
	margin-left: -183px !important;
	margin-top: 6px !important;
}

/* circle-list-03 */
.circle-list-03{
	top: 210px;
	left: 460px;
}
.circle-list-03 li:nth-child(2) {
	margin-left: 9px !important;
}
.circle-list-03 li:nth-child(3) {
	margin-left: 18px !important;
}
.circle-list-03 li:nth-child(4) {
	margin-left: 22px !important;
}
.circle-list-03 li:nth-child(5) {
	margin-left: 24px !important;
}
.circle-list-03 li:nth-child(6) {
	margin-left: 23px !important;
}
.circle-list-03 li:nth-child(7) {
	margin-left: 19px !important;
}
.circle-list-03 li:nth-child(8) {
	margin-left: 11px !important;
}
.circle-list-03 li:nth-child(9) {
	margin-left: 1px !important;
}
.circle-list-03 li:nth-child(10) {
	margin-left: -10px !important;
}
.circle-list-03 li:nth-child(11) {
	margin-left: -23px !important;
}
.circle-list-03 li:nth-child(12) {
	margin-left: -37px !important;
}

.water{
	position: fixed;
	bottom: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.water span{
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #55a6f3;
	border-radius: 50%;
	top: 100%;
	position: absolute;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	opacity: 0;
}
.water span:nth-child(2n){
	width: 20px;
	height: 20px;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}
.water span:nth-child(3n+1){
	width: 25px;
	height: 25px;
	animation-duration: 60s;
	animation-iteration-count: infinite;
}
.water span:nth-child(4n+3){
	width: 12px;
	height: 12px;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
@keyframes animate_water {
    0% {top: 100%;opacity: 0}
    10% {opacity: 0.5;}
    100% {top: -10%;}
}



