body{
	background-color: white;
	margin: 0px;
	height: 100%;
	font-family: 'Verlag-Book', sans-serif !important;
	overflow-x: hidden;
	font-size: 15px;
}
button{
	background-color: transparent;
	border: 1px solid transparent;
	outline: 0px;
}
input, textarea{
	background-color: transparent;
	outline: 0px;
	border: 1px solid transparent;
}
ul{
	list-style: none;
	padding-left: 0px;
}
a{
	color: #fff;
	text-decoration: none;
}

/* Modified Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #efb200;
}
/* background scroll */
::-webkit-scrollbar-track {
    background-color: #fff;
    border-left: 1px solid transparent;
}
/* scroll */
::-webkit-scrollbar-thumb {
    background-color: #cae594;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.title{
	text-transform: uppercase;
	color: #47B7D4;
	margin-top: 0px;
	padding-top: 130px;
	text-align: center;
	font-weight: bold;
	font-size: 56px;
	letter-spacing: 0.5px;
}
.sub-title{
	text-transform: uppercase;
	color: #47B7D4;
	letter-spacing: 0.5px;
	font-size: 25px;
	text-align: center;
	font-weight: lighter;
}
.sub-title span{
	font-weight: bold;
}
.btn-down{
	width: 100%;
	text-align: center;
	margin-top: 260px;
}
.down{
	background-color: #FA9243;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-animation: btn_down 1s infinite; /* Chrome, Safari, Opera */
    animation: btn_down 1s infinite;
}
.down img{
	width: 18px;
}
.cloud{
	position: absolute;
	top: 0;
	width: 100px;
}
.air-balloon{
	position: absolute;
	top: 0;
	width: 80px;
	-webkit-animation: air_balloon 60s infinite; /* Chrome, Safari, Opera */
    animation: air_balloon 60s infinite;
    top: 600px;
}
.air-balloon-small{
	width: 70px;
}
.section-01{
	background-color: #E6FEFF;
	width: 100%;
	height: 600px;
	position: relative;
}
.tree{
	position: absolute;
	bottom: 0;
}
.group-tree{
	position: absolute;
}
.tree-small{
	width: 80px;
}
.tree-tall{
	width: 60px;
}
.tree-tall-01{
	width: 110px;
}
.fence{
	width: 500px;
	position: absolute;
	bottom: 0;
}
.fence-left{
	left: 0;
}
.fence-right{
	right: 0;
}
.pine{
	width: 100px;
}
.pine-01{
	width: 120px;
}
.section-content{
	width: 40%;
	height: 2250px;
	background-color: #ADCF6B;
	float: left;
	position: relative;
}
.road{
	width: 20%;
	height: 2250px;
	background-color: #D4E7B4;
	float: left;
	position: relative;
}

.about-section{
	background-image: url('../img/img-profile/table.png');
	background-size: 100% 100%;
	width: 466px;
	padding: 15px;
	height: 300px;
	margin-top: 30px;
	margin-left: 15px;
	position: relative;
}
.sub-intro{
	display: inline-block;
	margin-right: 5px;
}
.intro span{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #E94824;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding-top: 7px;
	margin-left: 2px;
	position: relative;
	transform: scale(0);
	transition: 0.5s;
}
.intro span::before{
	content: '';
	position: absolute;
	width: 7px;
	height: 3px;
	background-color: #497A6F;
	right: -6px;
	top: 14px;
	/* opacity: 0; */
}
.intro .last-letter::before{
	width: 0px;
	height: 0px;
}
.text-intro{
	margin-top: 10px;
	padding: 0px 6px;
	opacity: 0;
	transform: translateY(-30px);
	transition: 0.5s;
}
.green{
	background-color: #9ECB3B !important;
}
.yellow{
	background-color: #FDB414 !important;
}
.background{
	position: relative;
	margin-top: 100px;
}
.light{
	position: absolute;
	width: 90px;
}
.balloon{
	position: absolute;
	width: 90px;
}
.chair{
	position: absolute;
	width: 180px;
}
.couple{
	position: absolute;
	width: 100px;
}
.horse{
	position: absolute;
	width: 300px;
}
.trash{
	position: absolute;
	width: 50px;
}
.people{
	position: absolute;
	width: 75px;
	z-index: 1;
}
.fountain{
	position: absolute;
	width: 250px;
}
.children{
	position: absolute;
	width: 60px;
}
.family{
	position: absolute;
	width: 130px;
}
.flower{
	position: absolute;
	width: 30px;
}
.flower-section{
	position: absolute;
}
.myskill{
	background-image: url('../img/img-profile/store.png');
	background-size: 100% 100%;
	width: 300px;
	padding: 15px;
	height: 300px;
	margin-top: 500px;
	margin-left: 10px;
	position: relative;
}
.myskill h6{
	color: #fff;
	font-weight: bold;
	padding: 7px 0px 6px;
	display: inline-block;
	background-color: #E94824;
	margin: 0px 10px 0px 5px;
	font-size: 14px;
	width: 62px;
	text-align: center;
	transform: translateY(-20px);
	transition: 0.5s;
	opacity: 0;
}
.html{
	margin-top: 72px;
}
.css, .jquery, .pts{
	margin-top: 21px;
}
.myskill img{
	margin-left: 10px;
	width: 22px;
	margin-top: -2px;
	position: absolute;
	right: 30px;
	opacity: 0;
	transition: 0.5s;
}
.jquery img{
	width: 10px;
	margin-left: 20px;
}
.pts img{
	margin-top: 7px;
}

.education{
	margin-top: 700px;
}
.icon-location{
	position: relative;
}
.under-location{
	position: absolute;
	width: 20px;
	top: 40px;
	right: 25px;
}
.icon-location .location{
	background-image: url('../img/img-profile/location.png');
	background-size: 100% 100%;
	position: absolute;
	top: -20px;
	right: 10px;
	width: 50px;
	height: 58px;
	margin-top: 0px;
	color: #fff;
	font-size: 32px;
	text-align: center;
	padding-top: 7px;
}
.info{
	background-image: url('../img/img-profile/message.png');
	background-size: 100% 100%;
	width: 300px;
	height: 200px;
	position: absolute;
	top: -220px;
	right: 40px;
	padding: 28px 20px;
}
.info h6{
	color: #9ECB3B;
	margin-top: 5px;
	font-size: 15px;
	margin-bottom: 5px;
}
.info h6 img{
	width: 16px;
	margin-right: 8px;
	position: relative;
	top: -3px;
}
.info h5{
	color: #E94824;
	margin-top: 5px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 8px;
}
.info p{
	margin-top: 15px;
}

.emotive{
	margin-top: 1020px;
}
.goldenowl{
	margin-top: 1350px;
}
.demo{
	position: relative;
	margin-top: 400px;
	cursor: pointer;
}
.home{
	position: absolute;
	width: 250px;
	right: 40px;
	top: 10px;
}
.form-clickme{
	background-image: url('../img/img-profile/message-right.png');
	background-size: 100% 100%;
	padding: 10px 20px 15px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	font-size: 15px;
	position: absolute;
	right: 20px;
	top: 10px;
	-webkit-animation: btn_down 1s infinite; /* Chrome, Safari, Opera */
    animation: btn_down 1s infinite;
}
.infomation{
	margin-top: 650px;
	position: absolute;
}
.ferris{
	position: absolute;
	width: 350px;
	left: 15px;
	top: 0;
}
.form-info{
	background-image: url('../img/img-profile/message-green.png');
	background-size: 100% 100%;
	padding: 6px 0px 6px 22px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	font-size: 15px;
	position: absolute;
	left: 360px;
	top: 95px;
	width: 130px;
}
.form-info img{
	width: 12px;
	margin-right: 5px;
	position: relative;
	top: 2px;
	float: left;
}
.form-info p{
	overflow: hidden;
	margin-bottom: 0px;
}
.form-blue{
	background-image: url('../img/img-profile/message-blue.png');
	left: 370px;
	top: 144px;
}
.form-red{
	background-image: url('../img/img-profile/message-red.png');
	left: 360px;
	top: 215px;
}





