html{margin: 0;}
body{
	font-family: 'Raleway-Regular', sans-serif !important;
	background-color: #f0f0f0 !important;
	overflow-x: hidden;
	margin: 0;
}
@media screen and (max-width: 589px){
	body{
		font-size: 12px !important;
	}
}
a:hover, a:visited{text-decoration: none !important;}
.hideme{
	opacity: 0;
}
.bg-body{
	width: 100%;
	position: fixed;
}
@media screen and (max-width: 540px){
	.bg-body{
		display: none;
	}
}
.body-content{
	background-size: 600px;
	margin: auto;
	width: 100%;
}
button{
	background-color: transparent;
	border: 0px;
	outline: 0;
}
.section{
	width: 100%;
	position: relative;
}
@media screen and (max-width: 589px){
	.section{
		height: auto;
	}
}
.section-body{
	width: 100%;
	margin: auto;
	padding: 40px 0 40px !important;
	position: relative;
	background-color: #77B235;
	overflow: hidden;
}
.section-content{
	width: 100%;
	max-width: 1048px;
	margin: auto;
	padding: 0px 80px !important;
}
@media screen and (max-width: 1036px){
	.section-content{
		padding: 0px 3% !important;
	}
}
.section-content .title-center{
	position: relative;
}
.title-center::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	border-top: 1px dashed #C3DE94;
	opacity: 0.6;
	top: 90px;
	left: 50%;
	transform: translateX(-50%);
}
.title-center::after{
	content: "";
	position: absolute;
	width: 0px;
	height: 0px;
	border-top: 10px solid #C3DE94;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	opacity: 0.6;
	top: 91px;
	left: 50%;
	transform: translateX(-50%);
}
.section-history{
	text-align: center;
	padding: 200px 0;
	height: auto;
	background-color: #12123A; /* For browsers that do not support gradients */
	background-image: url('../img/img-profile-02/bg-f-02.png'), url('../img/img-profile-02/bg-f-03.png');
	background-size: 100%, 100%;
	background-position: 0 0, 0 110px;
	background-repeat: no-repeat, no-repeat;
	position: relative;
}
@media screen and (max-width: 1100px){
	.section-history {
		background-position: 0 0, 0 70px;
	}
}
@media screen and (max-width: 560px){
	.section-history {
		background-size: 100%, 350%;
		background-position: 0 0, -100px 0px;
	}
}
.section-history::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url('../img/img-profile-02/bg-f-01.png');
	background-size: 100%;
	background-position: 0 100%;
	background-repeat: no-repeat;
}
.section-history .sub-title{
	color: #b7c3e2;
	font-weight: normal;
	font-size: 1.3em;
	margin-top: 20px;
}
.section-history .title-center::before{
	border: 0;
}
@media screen and (max-width: 1100px){
	.section-history .title-center::before{
		width: 90%;
	}
}
.section-history .title-center::after{
	border: 0;
}
.header-section{
	background-image: url('../img/img-profile-02/bg-f-01.png'), url('../img/img-profile-02/bg-header.jpg');
	background-size: 100%, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: 0 100%, center;
	position: relative;
}
.header-content{
	padding: 0 0px 200px;
	width: 100%;
	height: 670px;
	max-width: 1048px;
	margin: auto;
}
@media screen and (max-width: 1048px){
	.header-content{
		padding: 0 3% 200px 0;
	}
}
.avata{
	width: 50%;
	position: relative;
	z-index: 1;
	float: left;
	margin: 20px 30px 0 0;
}
.name{
	text-align: left;
	color: #fff;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border-radius: 10px;
	position: relative;
}
.tt-header{
	width: 80%;
	margin: 100px 0 30px;
}
.name p{
	font-size: 1.2em;
	line-height: 1.8;
	position: relative;
}
.title{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 5px;
	font-family: 'KGWhattheTeacherWants', sans-serif !important;
}
.title span{
	color: #fff;
}
.title-header{
	font-size: 4em;
	margin-top: 70px;
	position: relative;
}
@media screen and (max-width: 589px){
	.title-header{
		font-size: 3em;
		margin-top: 0px;
		padding-top: 40px;
	}
}
.title-main{
	color: #000;
	text-transform: uppercase;
	font-size: 3.5em;
}
@media screen and (max-width: 768px){
	.title-main{
		top: 0px;
	}
}
/* .title-main::before{
	content: "";
	position: absolute;
	top: 55px;
	left: 0;
	width: 50px;
	height: 3px;
	background-color: #e64242;
	background: -webkit-linear-gradient(-90deg, #fff, #e64242); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #fff, #e64242); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #fff, #e64242); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #fff, #e64242); /* Standard syntax (must be last) */
} */
.title-header::after{
	content: "";
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 4px;
	background-color: #1F2637;
	border-radius: 50%;
}
.title-center{
	text-align: center;
	color: #fff;
	position: relative;
}
.btn-all{
	background: url('../img/img-profile-02/btn-yellow-hover.png');
	background-size: 100%;
	color: #fff;
	width: 200px;
	height: 41px;
	text-transform: uppercase;
	font-size: 1.1em;
	font-family: 'Raleway-Bold';
	letter-spacing: 0.8px;
	text-shadow: 0px 2px #E17500;
	margin-top: 40px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.btn-all:hover{
	background: url('../img/img-profile-02/btn-yellow.png');
	background-size: 100%;
}
.btn-red{
	background: url('../img/img-profile-02/btn-red-hover.png');
	background-size: 100%;
	margin-left: 20px;
	width: 159px;
	height: 41px;
}
.btn-red a{
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 2px #9b0603;
}
.btn-red:hover{
	background: url('../img/img-profile-02/btn-red.png');
	background-size: 100%;
}


/* Responsive Header */

@media screen and (max-width: 960px){
	.header-content{
		text-align: center;
		height: auto;
	}
	.avata{
		float: none;
		width: 320px;
		max-width: 80%;
		margin: 20px 0 0;
	}
	.name{
		text-align: center;
	}
	.tt-header{
		width: 320px;
		max-width: 80%;
		margin-top: 0px;
	}
	.name p{
		padding: 0 5%;
	}
}
@media screen and (max-width: 768px){
	.header-content{
		padding-bottom: 150px;
	}
}
@media screen and (max-width: 410px){
	.header-content{
		padding-bottom: 100px;
	}
	.btn-all{
		display: block;
		margin: 30px auto;
	}
}

/* End Responsive Header */
.icon-desktop{
	width: 80px;
	margin-top: 20px;
}
@media screen and (max-width: 589px){
	.icon-desktop{
		display: none;
	}
}
.shadow-title{
	opacity: 1;
	fill: #1F2637;
	stroke: purple;
	stroke-width: 0;
	box-shadow: 0px 0px 3px #000;
}
.sub-title{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 1.4;
}
.sub-title-header{
	margin-top: 100px;
	color: #fff;
}
@media screen and (max-width: 589px){
	.sub-title-header{
		margin-top: 70px;
		font-size: 1.3em;
		padding: 0px 20px;
	}
	.sub-title{
		padding: 0px 20px;
	}
	.section-body .sub-title{
		padding: 0px !important;
	}
}
.text-header{
	width: 500px;
	margin: 30px auto;
	letter-spacing: 0.2px;
	line-height: 1.5;
	font-size: 1em;
}
@media screen and (max-width: 589px){
	.text-header{
		width: 100%;
		padding: 0px 30px;
	}
}
.btn-global{
	background-color: #1F2637;
	color: #FAC538;
	padding: 12px 25px 10px;
	border-radius: 25px;
	text-transform: uppercase;
	word-spacing: 1px;
	font-size: 0.9em;
	box-shadow: 0px 3px 10px #555;
}
.header-section .icon-desktop{
	margin-top: 0px;
	text-align: center;
	width: 100%;
	padding-top: 20px;
}
.header-section .icon-desktop .fa-desktop{
	font-size: 6em;
}
.header-section .icon-desktop .fa-mobile{
	font-size: 4em;
}
@media screen and (max-width: 589px){
	.header-section .icon-desktop .fa-desktop{
		font-size: 5em;
	}
	.header-section .icon-desktop .fa-mobile{
		font-size: 3em;
	}
}
.left{
	float: left;
	width: 40%;
	padding-top: 30px;
}
.right{
	float: right;
	width: 60%;
}
@media screen and (max-width: 768px){
	.left, .right{
		width: 100%;
		float: none;
	}
}
.infomation{
	float: left;
	width: 45%;
	position: relative;
	margin-top: 120px;
}
@media screen and (max-width: 768px){
	.infomation{
		width: 100%;
		margin-top: 85px;
	}
}
@media screen and (max-width: 540px){
	.infomation{
		width: 265px;
		margin: 85px auto 0px;
		float: none;
	}
	.infomation h6 span{
		margin-right: 30px;
	}
}
.infomation h6{
	font-size: 1.3em;
	color: #fff;
	margin-bottom: 30px;
	opacity: 0;
	transition: 0.5s;
}
@media screen and (max-width: 768px){
	.infomation h6{
		display: inline-block;
		width: 49%;
	}
}
@media screen and (max-width: 540px){
	.infomation h6{
		width: 100%;
		margin-bottom: 15px;
	}
}
.infomation h6 span{
	display: inline-block;
	width: 50px;
	height: 51px;
	vertical-align: middle;
	margin-right: 15px;
	text-align: center;
	padding-top: 13px;
	background: url('../img/img-profile-02/ic-01.png');
	background-size: 100%;
}
.infomation h6 i{
	color: #fff;
	font-size: 1.3em !important;
}
.skill-section{
	float: left;
	width: 55%;
	position: relative;
	margin-top: 120px;
	transform: translateX(120%);
	transition: 1s;
}
@media screen and (max-width: 768px){
	.skill-section{
		width: 100%;
		margin-top: 50px;
	}
}
.skill-section .skill{
	width: 45%;
	height: 35px;
	background-color: #ffd629;
	position: relative;
	margin: 30px 0px 40px;
	float: left;
	border-radius: 25px;
}
.skill-section .skill:nth-child(2n){
	margin-left: 10%;
}
.skill-section .skill::before{
	content: "";
	position: absolute;
	width: 75%;
	height: 29px;
	background-color: #F6AB00;
	top: 3px;
	left: 3px;
	border-radius: 25px;
}
.skill-section .team::before{
	width: 90%;
}
.skill-section .problem::before{
	width: 80%;
}
.skill-section .jquery::before{
	width: 50%;
}
.skill-section .pts::before{
	width: 50%;
}
.skill-section .communication::before{
	width: 90%;
}
.skill-section .english::before{
	width: 50%;
}
.skill-section .skill .label{
	display: inline-block;
	color: #CADDA6;
	font-weight: bold;
	font-size: 1.2em;
	padding: 6px 8px 4px;
	position: relative;
	top: -32px;
}
.skill-section .skill label{
	color: #fff;
	position: absolute;
	top: 5px;
	left: 15px;	
	font-size: 1.2em;
	text-shadow: 0px 2px #E17500;
}
.info{
	font-size: 1.1em;
	margin-top: 15px;
}
.info i{
	color: #FAC538;
	margin-right: 10px;
}
.left p{
	margin-top: 30px;
}
.history-body{
	width: 100px;
	margin: 90px auto 40px;
}
.h-element{
	width: 100px;
	height: 120px;
	margin-top: 10px;
	color: #fff;
	background-color: #fff;
	position: relative;
}
.h-element::before{
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: #12123A;
	border-radius: 50%;
	top: -25px;
	left: 50%;
	transform: translateX(-50%);
}
.h-element::after{
	content: "1";
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #F05822;
	border-radius: 50%;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	padding-top: 4px;
	font-weight: bold;
	font-size: 1.5em;
}
.h-element-1::after{
	content: "";
	width: 0px;
	height: 0px;
}
.h-element-2{
	background-color: #F6931E;
}
.h-element-3{
	background-color: #60951B;
}
.h-element-3::after{
	content: "2";
	background-color: #42690f;
}
.h-element-4{
	background-color: #40B8D3;
}
.h-element-4::after{
	content: "3";
	background-color: #057e99;
}
.h-element .label-history{
	position: relative;
	z-index: 1;
	padding-top: 52px;
	font-size: 1.3em;
	font-weight: bold;
}
.info-history{
	z-index: 1;
	top: -40px;
	width: 260px;
}
.info-history h6{
	white-space: nowrap;
	margin-bottom: 5px;
	color: #b7c3e2;
}
.info-history .icon{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #F6931E;
	padding-top: 5px;
}
.info-history i{
	font-size: 2em;
	color: #fff;
}
.info-left{
	position: relative;
	left: -360px;
}
.info-left::before, .info-right::before{
	content: "";
	position: absolute;
	width: 70px;
	height: 2px;
	top: 20px;
	right: -100px;
}
.info-left::after, .info-right::after{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	top: 17px;
	right: -30px;
	border-radius: 50%;
}
.info-right{
	position: relative;
	right: -200px;
}
.h-element-2 .info-left::before{
	background-color: #F6931E;
}
.h-element-2 .info-left::after{
	background-color: #F6931E;
}
.h-element-3 .info-right::before{
	background-color: #60951B;
	left: -100px;
}
.h-element-3 .info-right::after{
	background-color: #60951B;
	left: -30px;
}
.h-element-3 .info-history .icon{
	background-color: #60951B;
}
.h-element-4 .info-left::before{
	background-color: #40B8D3;
}
.h-element-4 .info-left::after{
	background-color: #40B8D3;
}
.h-element-4 .info-history .icon{
	background-color: #40B8D3;
}
.info-history h5{
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 0px;
	letter-spacing: 0.5px;
	line-height: 1.23;
}
.info-history .position i{
	font-size: 0.9em;
	margin-right: 5px;
	color: #FAC538;
}
.info-history .position{
	color: #FAC538;
}
.h-element-last{
	position: relative;
	margin-top: 10px;
	width: 0px;
	border-top: 70px solid #FBD9B6;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}
.h-element-last::before{
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #000;
	border-radius: 50%;
	top: -10px;
	left: -10px;
}
.info-left .icon{
	float: right;
}
.info-left .info-detail{
	float: left;
	overflow: hidden;
}
.info-left h6, .info-left h5, .info-left .position{
	text-align: right;
}
.h-element-4 .info-left .info-detail{
	position: relative;
	top: -8px;
}
.info-right .icon{
	float: left;
}
.info-right .info-detail{
	float: left;
	overflow: hidden;
	padding-left: 20px;
	position: relative;
	top: -10px;
}
.info-right h6, .info-right h5, .info-right .position{
	text-align: left;
}
@media screen and (max-width: 840px){
	.history-body{
		width: 470px;
		margin: 90px auto 40px;
	}
	.info-history{
		width: 262px;
	}
	.info-left{
		left: auto;
		right: -200px;
	}
	.info-left .icon{
		float: left;
	}
	.info-left .info-detail{
		padding-left: 20px;
	}
	.info-left h6, .info-left h5, .info-left .position{
		text-align: left;
	}
	.info-left::before{
		left: -100px;
	}
	.info-left::after{
		left: -30px;
	}
}
@media screen and (max-width: 589px){
	.history-body{
		width: 370px;
		margin: 90px auto 40px;
	}
	.h-element{
		height: 150px;
	}
	.h-element .label-history{
		padding-top: 70px;
	}
	.h-element-1{
		display: none;
	}
	.info-history{
		width: 170px;
		position: relative;
		top: -40px;
	}
	.info-left{
		left: auto;
		right: -200px;
	}
	.info-left .icon, .info-right .icon, .info-left .info-detail, .info-right .info-detail{
		float: none;
		position: relative;
		top: -20px !important;
	}
	.info-left .info-detail{
		padding-left: 0px;
		margin-top: 10px;
		float: none;
	}
	.info-right .info-detail{
		padding-left: 0px;
		margin-top: 10px;
		float: none;
	}
	.info-left h6, .info-left h5, .info-left .position, .info-right h6, .info-right h5, .info-right .position{
		text-align: center;
	}
	.info-left::before{
		left: -100px;
	}
	.info-left::after{
		left: -30px;
	}
}

@media screen and (max-width: 420px){
	.history-body{
		width: 220px;
		margin: 90px auto 40px;
	}
	.h-element{
		height: 230px;
		width: 220px;
	}
	.h-element .label-history{
		padding-top: 70px;
	}
	.h-element-1{
		display: none;
	}
	.h-element-last{
		border-top: 121px solid #FBD9B6;
		border-right: 110px solid transparent;
		border-left: 110px solid transparent;
	}
	.h-element-last::before{
		width: 30px;
		height: 30px;
		top: -15px;
		left: -15px;
	}
	.info-history{
		width: 170px;
		position: relative;
		top: -30px;
	}
	.info-history i{
		color: #000;
		font-size: 3em;
	}
	.info-left{
		left: auto;
		right: -24px;
	}
	.info-right{
		right: -24px;
	}
	.info-left::before, .info-right::before, .info-left::after, .info-right::after{
		display: none;
	}
	.info-history h6{
		color: #e0e0e0;
	}
}
.section-portfolio{
	background-color: #77B235;
	padding: 50px 0px 0px;
	height: auto;
}
@media screen and (max-width: 768px){
	.section-portfolio .title-center{
		margin-top: 20px;
	}
}
.portfolio{
	padding: 0px !important;
	margin: 90px auto 0px;
}
.portfolio-element{
	width: 100%;
	padding-bottom: 70px;
	margin-bottom: 70px;
	float: left;
	overflow: hidden;
	position: relative;
	border-bottom: 1px dashed #e0e0e0;
	transition: 0.5s;
}
.portfolio-element:last-child{
	border-bottom: 0px;
}
.info-portfolio{
	width: 50%;
	float: left;
	padding: 30px 120px 0px 0px;
	transform: translateX(100%);
	transition: 1s;
	font-size: 1.1em;
}
@media screen and (max-width: 768px){
	.info-portfolio{
		width: 100%;
		padding: 0px !important;
		margin-top: 50px;
	}
}
.info-portfolio:nth-child(2n){
	padding-right: 0px;
	padding-left: 120px;
}
.portfolio-element img{
	width: 50%;
	height: auto;
	float: left;
	transform: translateX(-100%);
	transition: 1s;
}
@media screen and (max-width: 768px){
	.portfolio-element img{
		width: 100%;
	}
}
.info-portfolio .info{
	position: relative;
	margin-top: 0px;
	width: 100%;
	transition: 0.5s;
}
.info-portfolio .info label{
	font-size: 1em;
	color: #CADDA6;
	font-weight: 600;
}
@media screen and (max-width: 768px){
	.info-portfolio .info label{
		text-align: center;
		width: 100%;
	}
}
.info-portfolio .info h6{
	color: #fff;
	text-transform: uppercase;
	font-size: 1.8em;
	letter-spacing: 1px;
	margin: 0px;
	padding: 5px 0px 0px;
	margin-bottom: 30px;
	font-weight: bold;
	z-index: 1;
	position: relative;
	font-family: 'Raleway-Bold', sans-serif !important;
}
@media screen and (max-width: 768px){
	.info-portfolio .info h6{
		text-align: center;
		font-size: 2em;
	}
}
.info-portfolio .info button{
	font-size: 1em;
	width: 200px;
	height: 41px;
	margin-top: 20px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 2px #E17500;
	font-family: "Raleway-Bold";
	background-image: url('../img/img-profile-02/btn-yellow-hover.png');
	background-size: 100% 100%;
	transition: 0.5s;
}
.info-portfolio .info button:hover{
	background-image: url('../img/img-profile-02/btn-yellow.png');
}
.info-portfolio .info button i{
	margin-left: 15px;
	margin-right: 0;
	color: #fff;
	font-size: 1.3em;
	position: relative;
	top: 1px;
}
.info-portfolio .info p{
	color: #CADDA6;
	line-height: 1.7;
}
.info-portfolio .info .check {
	color: #CADDA6;
	margin-top: 10px;
	font-weight: 600;
	font-size: 0.9em;
}
@media screen and (max-width: 768px){
	.info-portfolio .info .check{
		display: inline-block;
		width: 32.8%;
		white-space: nowrap;
		display: none;
	}
	.info-portfolio .info label, .info-portfolio .info p{
		font-size: 1.2em;
		text-align: center;
	}
	.info-portfolio .info{
		text-align: center;
	}
}
.info-portfolio .info .check span{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%; 
	text-align: center;
	padding-top: 8px;
	margin-right: 15px;
}
@media screen and (max-width: 768px){
	.info-portfolio .info .check span{
		margin-right: 0px;
	}
}
.info-portfolio .info .check i{
	color: #CADDA6;
}
.info-portfolio .btn-global{
	position: absolute;
	background-color: #FAC538;
	color: #000;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) scale(0);
	transition: 0.5s;
	z-index: 2;
}
.portfolio-element:hover .info-portfolio .btn-global{
	transform: translateX(-50%) scale(1);
}
.section-footer{
	background-image: url('../img/img-profile-02/bg-f-04.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	position: relative;
	text-align: center;
	padding: 100px 0 40px;
	background-color: #398EE8;
}
.section-footer .tt-header{
	width: 200px;
	margin: 20px 0 0;
}
.section-footer p{
	color: #E0EBF9;
	font-size: 1.1em;
	margin-top: 15px;
}
.section-footer p span{
	font-family: 'Fredoka One', sans-serif;
	font-size: 1.2em;
}
@media screen and (max-width: 560px){
	.section-footer{
		padding: 60px 0 40px;
	}
}
.service h6{
	margin-top: 0px;
	font-family: 'Fredoka One', sans-serif;
	color: #006080;
	font-size: 1.4em;
	white-space: nowrap;
	padding-top: 12px;
	display: inline-block;
	width: 190px;
}
.service h6 span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #006080;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
	margin-right: 10px;
}
@media screen and (max-width: 1036px){
	.service h6{
		font-size: 1.2em;
	}
	.service h6 span{
		width: 30px;
		height: 30px;
	}
	.service h6 i{
		font-size: 0.8em;
	}
}

.popup{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.popup::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.9;
}
.popup-content{
	position: relative;
	z-index: 11;
	width: 500px;
	height: 100%;
	margin: 0px auto;
}
@media screen and (max-width: 589px){
	.popup-content{
		width: 80%;
	}
}
.image-large button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 4em;
}
.btn-right{
	right: 0;
}
.image-large .list-img{
	width: 300px;
	height: 100%;
	margin: 0px 100px;
	overflow: hidden;
	position: relative;
}
@media screen and (max-width: 589px){
	.image-large .list-img{
		width: 80%;
		margin: 0px 10%;
	}
}
.image-large img{
	width: 300px;
	transform: translateX(130%) translateY(-50%);
	transition: 0.8s;
	position: absolute;
	top: 50%;
}
@media screen and (max-width: 589px){
	.image-large img{
		width: 80%;
		margin-left: 10%;
	}
}
.image-large .first{
	transform: translateX(0) translateY(-50%);
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes img_01 {
    0%   {transform: translateX(0%) translateY(-50%);}
    100% {transform: translateX(-130%) translateY(-50%)}
}

/* Standard syntax */
@keyframes img_02 {
    0%   {transform: translateX(130%) translateY(-50%);}
    100% {transform: translateX(0%) translateY(-50%);}
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes img_03 {
    0%   {transform: translateX(-130%) translateY(-50%);}
    100% {transform: translateX(0%) translateY(-50%);}
}

/* Standard syntax */
@keyframes img_04 {
    0%   {transform: translateX(0%) translateY(-50%);}
    100% {transform: translateX(130%) translateY(-50%);}
}







