body{
	background-color: white;
	margin: 0px;
	height: 100%;
}
button{
	border: 1px solid transparent;
	outline: 0px;
}
.body_content{
	width: 100%;
	margin-left: 0px;
	height: 100%;
}
.body_content_toggle{
	margin-left: 260px;
}
/*-----------------------------HEADER----------------------------------*/
.header{
	height: 38px;
	width: 100%;
	background-color: #232b2d;
}
.header_content{
	width: 1048px;
	margin: 0px auto;
}
/*------------------Menu Dọc-------------------*/
#Menu_Doc{
	display: none;
	height: 0px;
	width: 260px;
	background-color: red;
}
.Menu_Doc_header{
	height: 60px;
	background-color: #17171a;
}
.list_menudoc{
	/*height: 1000px;*/
}
.list_menudoc > li{
	position: relative;
  	display: block;
  	border: 1px solid transparent;
	border-bottom: 1px solid #dddddd;
	background-color: #f5f5f5;
}
.list_menudoc > li > a{
	display: block;
	padding: 16px;
	color: #505050;
	text-decoration: none;
	font-size: 18px;
}
.input-group{
	margin: 0px 5px 0px 5px;
	padding-top: 15px;
}
#btnsearch_cancel,
#btnsearch_menudoc{
	height: 26px;
	color:#abb0b3;
	border: 1px solid transparent;
	background-color: white;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	outline: 0px;
}
#txtsearch_large,
#txtsearch_menudoc{
	height: 26px;
	width: 185px;
	text-indent: 10px;
	border: 1px solid transparent;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	outline: 0px;
}
.footer_menudoc{
	height: 100%;
	background-color:#32393c;
}
/*-------------------------------------*/
#btnDisney_menu{
	height: 333px;
	background-color: white;
	position: relative;
	display: none;
	margin: 0px -10px 0px -10px;
}
#btnDisney{
	background-color: #191d1f;
	height: 45px;
	width: 138px;
	border: 1px solid transparent;
	outline: 0px;
	cursor: pointer;
	text-align: left;
}
#btnSearch_Responsive,
#btnMenuBars{
	display: none;
	background-color: #232b2d;
	height: 38px;
	outline: 0px;
	cursor: pointer;
	border: 1px solid transparent;
	border-right: 1px solid black;
}
.font_btnDisney_menu{
	font-size: 25px;
	font-weight: normal;
}
#component_left{
	height: 0px;
	margin-left:138px;
}
#component_left >a{
	display: inline-block;/* Thiếu cái này không chỉnh được padding-top của thẻ a*/
	padding: 9px 3px 9px 22px;
	margin-right: -4px;
	text-decoration: none;
	color: white;
	font-size: 17px;
}
#component_left > #link_Disney{
	display: none;
}
.component_right {
    float: right !important;
 }
.component_right ~ .component_right {
    margin-right: 0;
 }
.input-group{
	padding-top: 7px;
}
#inputgroup_1023{
	display: none;
	padding-top: 10px;
	margin-left: 10px;
}
/*-----------------------------CONTENT---------------------------------*/
.content{
	margin: 20px auto;
	width: 1025px;
	height: auto;
	background-color: white;
	position: static;
}
.slider_img{
	height: 301px;
}
/*----------------------WHAT'S NEW-------------------------*/
.content_whatnew{
	margin: 60px;
	width: 88%;
	height: 350px;
}
.component_whatnew{
	width: 30%;
	margin: 10px 30px 0px 0px;
  	float: left;
}
.component_whatnew_img{
	height: 215px;
}
.component_whatnew_img > img{
	width: 98%;
	margin-bottom:10px;
}
.component_whatnew_img > img:hover {
	width: 100%;
	box-shadow: 0px 2px 5px #888888;
	margin: -3px 3px 10px -3px;
	transition: 0.2s ease;
}
.component_whatnew > p {
	font-size:13px;
	margin-top:10px;
	color:#67675f;
}
.body_content_whatnew > div > span{
	font-size:25px;
}
.name_game{
	text-decoration: none;
	color: black;
}
.name_game:hover,
.name_game:focus{
	text-decoration: none;
	color: #2c86ee;
}
/*----------------------VIDEOS-------------------------*/
.content_videos{
	width: 100%;
	height: 365px;
	background-image: url('../img/bg-videos.png');
}
.body_content_videos{
	padding-top: 40px;
}
.title_videos{
	height: auto;
	margin-left: 60px;
}
.title_videos > div > span{
	color: white;
	font-size: 26px;
}
.title_videos > div > label{
	color: #b7d9f9;
	font-size: 20px;
	font-weight: normal;
	margin-left: 9px;
}
.title_videos > div > p{
	color: #88e0f8;
	font-size: 17px;
}
.component_videos{
	height: 245px;
	overflow: hidden;
	float: left;
	position: relative;
	margin: 0px 60px 0px 60px;
}
.videos{
	width: 256px;
	height: 100%;
	float: left;
	margin: 0px 24px 0px 0px;
	position:relative;
}
#video_4{
	margin-top: -245px;
	position: relative;
	left: 845px;
}
#video_5,
#video_6{
	margin-top: -245px;
	position: relative;
	display: none;
}
/*ANIMATION VIDEO*/
@-webkit-keyframes 'slideRight' {
    0% { left: 0px; }
    100% { left: -845px;}
}
.move_01_right {
    -webkit-animation-name: slideRight;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes 'slideRight_02' {
    0% { left: 845px; }
    100% { left: 0px;}
}
@-webkit-keyframes 'slideRight_05' {
    0% { left: 1135px; }
    100% { left: 280px;}
}
@-webkit-keyframes 'slideRight_06' {
    0% { left: 1425px; }
    100% { left: 560px;}
}
.move_02_right {
    -webkit-animation-name: slideRight_02;
    -webkit-animation-duration: 1s;
}
.move_05_right {
    -webkit-animation-name: slideRight_05;
    -webkit-animation-duration: 1s;
}
.move_06_right {
    -webkit-animation-name: slideRight_06;
    -webkit-animation-duration: 1s;
}
@-webkit-keyframes 'slideLeft' {
    0% { left: -845px; }
    100% { left: 0px;}
}
.move_01_left {
    -webkit-animation-name: slideLeft;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes 'slideLeft_02' {
    0% { left: 0px; }
    100% { left: 845px;}
}
@-webkit-keyframes 'slideLeft_05' {
    0% { left: 280px; }
    100% { left: 1135px;}
}
@-webkit-keyframes 'slideLeft_06' {
    0% { left: 560px; }
    100% { left: 1425px;}
}
.move_02_left {
    -webkit-animation-name: slideLeft_02;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
}
.move_05_left {
    -webkit-animation-name: slideLeft_05;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
}
.move_06_left {
    -webkit-animation-name: slideLeft_06;
    -webkit-animation-duration: 1s;
    animation-fill-mode: forwards;
}
.videos > p{
	color: #b2bac8;
	font-size: 13px;
}
.videos_img{
	height: 65%;
}
.videos_img > img{
	width: 100%;
}
.videos_img > img:hover{
	width: 102%;
	box-shadow: 0px 2px 5px #888888;
	margin: -1px 4px 3px -2px;
	transition: 0.2s ease;
}
.name_video{
	color: white;
	font-size: 15px;
}
.name_video:hover,
.name_video:focus{
	text-decoration: none;
	color: #accded;
	font-size: 15px;
}
.left_video{
	float: left;
	height: 245px;
	width: 60px;
	position: absolute;
}
.right_video{
	float: right;
	height: 245px;
	width: 60px;
	margin-top: -245px;
}
#left-controls,
#right-controls{
	background-color: #1a335b;
	margin-left: 15px;
	margin-top: 80px;
}
/*-----------------------------FOOTER---------------------------------*/
.footer{
	height: 50px;
	background-color: black;
}
/*----------------------------RESPONSIVE--------------------------------*/
/* 1024px hoặc lon hơn */
@media screen and (min-width: 1025px) {
	.body_content{
		margin-left: 0px;
	}
	.header_content{
		visibility: visible;
	}
	.header{
		background-color:#232b2d;
	}
	#Menu_Doc{
		visibility: hidden;
	}
	#inputgroup_1023{
		visibility: hidden;
	}
	#icon_whatnew{
		display: inline-block;
	}
	.body_content_whatnew > div > p{
		display: block;
	}
	.body_content_whatnew > div > span{
		margin-left: 0px;
	}
	#btnMenuBars{
		display: none;
	}
}
/* 1107px hoặc nhỏ hơn */
@media screen and (max-width: 1107px) {
	.header_content{
		width: 100%;
	}
	#btnDisney{
		margin-left: 25px;
	}
	.component_right{
		margin-right: 25px;
	}
}
/* 1023px hoặc nhỏ hơn */
@media screen and (max-width: 1023px) {
    .header {
        height: 60px;
        width: 100%;
    }
    .header_content{
		margin: 0px;
	}
	
	#btnDisney,
	#inputgroup{
		display: none;
	}
	#component_left{
		margin-left: 0px;
	}
	.component_right{
		margin-right: 0px;
	}
    #btnMenuBars{
		height: 60px;
		width: 60px;
		display: inline-block;
	}
	#component_left > #link_Disney{
		display: inline-block;
		padding:10px 10px 7px 20px;
	}
	.content{
		margin: 0px auto;
		width: 100%;
	}
	#btnSearch_Responsive{
		height: 60px;
		width: 60px;
		display: inline-block;
		margin-right: 0px;
		border-left: 1px solid black;
	}
	#txtsearch_menudoc{
		margin-top: 12px;
	}
	#txtsearch_large{
		height: 40px;
		text-indent: 2px;
		width: 82%;
		font-size:16px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	#btnsearch_cancel{
		height: 40px;
		width: 15%;
		color: white;
		font-size:16px;
		background-color: #3f474a;
	}
	.item > img {
		width: 100%;
	}
	.component_whatnew_img{
		height: 60%;
	}
	.slider_img{
		height: 50%;
	}
	/*VIDEO*/
	.content_videos{
		height: 50%;
	}
	.videos{
		width: 28.5%;
	}
	.videos_img{
		height: auto;
	}
	#video_4{
		margin-top: -245px;
		left: 93.5%;
	}
	@-webkit-keyframes 'slideRight' {
	    0% { left: 0px; }
	    100% { left: -93.5%;}
	}
	@-webkit-keyframes 'slideRight_02' {
	    0% { left: 93.5%; }
	    100% { left: 0px;}
	}
	@-webkit-keyframes 'slideRight_05' {
	    0% { left: 120%; }
	    100% { left: 5%;}
	}
	@-webkit-keyframes 'slideRight_06' {
	    0% { left: 1425px; }
	    100% { left: 560px;}
	}
/* 958px hoặc nhỏ hơn */
@media screen and (max-width: 958px) {
	.content_whatnew{
		width: 100%;
		margin: 0px;
		height: 78%;
	}
	.body_content_whatnew{
		margin: 50px 0px 0px 50px;
	}
	.component_whatnew{
		width: 44%;
	}
	.component_whatnew_img{
		height: auto;
	}
	.component_whatnew > p {
		display: none;
	}
}
/* 940px hoặc nhỏ hơn */
@media screen and (max-width: 940px) {
	.carousel-control{
		display: none;
	}
}
/* 842px hoặc nhỏ hơn */
@media screen and (max-width: 940px) {
	/*.name_video > h3{
		max-width: 20px;
	}*/
}
/* 674px hoặc nhỏ hơn */
@media screen and (max-width: 674px) {
	#icon_whatnew{
		display: none;
	}
	.body_content_whatnew{
		margin: 30px auto; 
		width: 90%;
	}
	.body_content_whatnew > div > p{
		display: none;
	}
	.body_content_whatnew > div > span{
		margin-left: -60px;
		font-size: 23px;
	}
	.component_whatnew{
		width: 47%;
	}
}
/* 666px hoặc nhỏ hơn */
@media screen and (max-width: 666px) {
	.component_whatnew {
		margin-right: 0%;
	}
	.imgfist{
		margin-right: 5%;
	}
}
/* 598px hoặc nhỏ hơn */
@media screen and (max-width: 598px) {
	#component_left > a{
		display: none;
	}
	#component_left > #link_Disney{
		margin-left: 30%;
	}
}